version: "3.3"

services:
  cappa-db-{{ env }}:
    container_name: cappa-db-{{ env }}
    image: postgres:12
    networks:
      - cappa-backend-{{ env }}
    volumes:
      - ../postgresql-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: {{ postgres_user }}
      POSTGRES_PASSWORD: {{ postgres_password }}
      POSTGRES_DB: {{ postgres_db }}
    restart: always

  cappa-app-{{ env }}:
    build:
      context: ..
      dockerfile: ./docker/app/Dockerfile
    container_name: cappa-app-{{ env }}
    image: cappa-app-{{ env }}
    networks:
      - cappa-backend-{{ env }}
      - cappa-proxy-{{ env }}
    volumes:
      - cappa-public-{{ env }}:/app/public
      - ../media:/app/media
      - ../src:/app/src
    depends_on:
      - cappa-db-{{ env }}
    environment:
      POSTGRES_USER: {{ postgres_user }}
      POSTGRES_PASSWORD: {{ postgres_password }}
      POSTGRES_DB: {{ postgres_db }}
      POSTGRES_HOST: cappa-db-{{ env }}
      APP_STATIC_ROOT: /app/public/static
      APP_DOMAINS: {{ nginx_domain }}
      APP_ENV_SUFFIX: {{ env }}
      GUNICORN_WORKERS: {{ gunicorn_workers }}
    restart: always
    healthcheck:
      test: ["CMD", "pg_isready", "-h", cappa-db-{{ env }}]
      interval: 5s
      timeout: 5s
      retries: 10

  cappa-nginx-{{ env }}:
    build: nginx
    container_name: cappa-nginx-{{ env }}
    image: cappa-nginx-{{ env }}
    volumes:
      - cappa-public-{{ env }}:/public
      - ../media:/media
    depends_on:
      - cappa-app-{{ env }}
    networks:
      - cappa-proxy-{{ env }}
    ports:
      - "{{ nginx_public_port }}:{{ nginx_public_port }}"
    expose:
      - "{{ nginx_public_port }}"
    restart: always

networks:
  cappa-proxy-{{ env }}:
  cappa-backend-{{ env }}:

volumes:
  cappa-public-{{ env }}: