<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CAPPA{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="top-nav">
            <div class="container">
                <div class="top-nav-left">
                    <div class="logo-container">
                        <a href="/">CAPPA</a>
                    </div>
                    <ul class="col-lg-6 top-menu-container">
                        <li><a class="logo-desc" href="/">комплекс автоматической проверки программ</a></li>
                    </ul>
                </div>
                <div class="top-nav-right">
                    {% if user.is_authenticated  %}
                        {% if user.is_staff %}
                            <a class="mr-5" href="/admin/">Управление сайтом</a>
                        {% endif %}
                        <a class="mr-5" href="">{{ user.get_full_name|default:user.username }}</a>
                        <a class="profile" href="/logout/">Выйти</a>
                    {% else %}
                        <a class="profile" href="{% url 'account_login' %}">Войти</a>
                        <a class="profile" href="{% url 'account_signup' %}">Зарегистрироваться</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <nav class="top-nav menu">
            <div class="container">
                <ul class="col-lg-6 top-menu-container">
                    <li><a href="{% url 'courses-root' %}">Курсы</a></li>
                    <li><a href="{% url 'groups:groups' %}">Группы</a></li>
                    <li><a href="{% url 'modules:modules' %}">Олимпиады</a></li>

                </ul>
            </div>
        </nav>
        <main>
        {% block main %}
            <div class="container">
                <div class="row">
                    {% block breadcrumbs %}{% endblock %}
                </div>
                <div class="row">
                    <div>
                        <h1>{% block content_title %}{% endblock %}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="row footer-nav">
                <div class="col-lg-3">
                    CSU Math 2018
                </div>
                <div class="col-lg-3">
                    <div class="footer-nav-title">О нас</div>
                    <ul>
                        <li><a href="">Команда проекта</a></li>
                        <li><a href="">О проекте</a></li>
                        <li><a href="">Контакты</a></li>
                        <li><a href="">Помощь</a></li>

                    </ul>
                </div>
                <div class="col-lg-3">
                    <div class="footer-nav-title">Разработчикам</div>
                    <ul>
                        <li><a href="">Быстрый старт</a></li>
                        <li><a href="">Обратная связь</a></li>
                        <li><a href="">Документация</a></li>
                        <li><a href="//github.com/oldroute/project">Репозиторий</a></li>
                    </ul>
                </div>
                <div class="copyright col-lg-3">
                </div>
            </div>
        </div>
    </footer>
    {% block js %}{% endblock %}
</body>
</html>
