<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
        <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{#        <script src="{{ STATIC_URL }}js/ace/ace_editor_v1.3.2.js"></script>#}

    {% endblock head %}
</head>
<body>
    <header>
        <div class="container border-bottom mt-4 pb-1">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-8">
                    <h1>{% block content_title %}{% endblock %}</h1>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container border-bottom mb-3 pt-4">
            <div class="row" >
                <div class="col-lg-3" >
                    {% block sidebar %}{% endblock %}
                </div>
                <div class="col-lg-8" >
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-3 text-center" >
                    CSU Math 2018
                </div>
            </div>
        </div>
    </footer>
    {% block js %}
        <script src="{{ STATIC_URL }}js/set_ajax_csrftoken.min.js"></script>
     {% endblock js %}
</body>
</html>

