<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="top-nav">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-2">
                    <a href="/"><img class="logo" src="{{ STATIC_URL }}img/ceep_calm.png"/></a>
                </div>
                <div class="col-lg-6 d-flex justify-content-end align-items-center align-middle">
                    <a class="mr-5" href="{% url 'courses-root' %}">Курсы</a>
                    <a class="mr-5" href="/groups/">Группы</a>
                    {% if user.is_authenticated  %}
                        <span class="username">{{ user.username }}</span> <a class="ml-3" href="{% url 'logout' %}">Выйти</a>
                    {% else %}
                        <a class="ml-3" href="{% url 'login' %}">Войти</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
            <div class="row pt-4 pl-4">
                <div class="h1 col-lg-12">{% block content_title %}{% endblock %}</div>
            </div>
            <div class="row pt-4">
                {% block container %}
                    <div class="content col-lg-8" >
                        {% block content %}{% endblock %}
                    </div>
                    <div class="sidebar col-lg-3" >
                        {% block sidebar %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
            <div class="row pt-5 pl-5">
                <div class="h1 col-lg-12">{% block pagination %}{% endblock %}</div>
            </div>

        </div>
    </main>
{#    <footer>#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class=" copyright col-lg-12 text-center" >#}
{#                    CSU Math 2018#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </footer>#}
    {% block js %}
{#         <script type="text/javascript" src="//web-ptica.ru/VRV-files/knopkavverh/22.js"></script>#}
    {% endblock %}
</body>
</html>

