{% extends 'base.html' %}
{% load courses_tags news_tags executors_tags %}

{% block content %}

    <h2 class="fp-title">Эффективное обучение программированию c CAPPA</h2>

    <div class="fp-container">
        <div class="fp-left-col">
            <div class="fp-content">
                <h3>1. Пошаговое интерактивное обучение</h3>
                <span>
                    Выберите курс и приступайте к обучению. Каждый курс состоит из набора тем.
                    Темы последовательно раскрывают перед вами возможности языка и подходы к программированию.
                    При изучении тем вы можете экспериментировать с примерами прямо в браузере!

                </span>
            </div>
            <div class="one-col fp-content">
                <p>
                    Для ввода данных в программу мы используем функцию <code>input().</code> Она считывает одну строку.</br>
                    Вот программа, которая считывает имя пользователя и приветствует его
                </p>
                {% get_example_obj 12 as example_obj_1 %}
                {% show_executors '#code8#' for example_obj_1 with 0 %}
            </div>
            <div class="fp-content">
                <h3>2. Хотите закрепить материал - решайте задачи!</h3>
                <span>
                    В рамках каждой темы вас ждет набор задач от самых простых до "зубодробителных".
                    Проверьте себя! Решайте задачи проходя тесты и набирайте баллы в личном рейтинге!
                </span>
            </div>
            <div class="one-col fp-content">
                <h4>Задача «Площадь прямоугольного треугольника»</h4>
                <p>
                    Напишите программу, которая считывает длины двух катетов в прямоугольном треугольнике и выводит его площадь.
                    Каждое число записано в отдельной строке.
                </p>
                <img src="http://pythontutor.ru/static/images/right_triangle.gif" />
                {% get_example_obj 15 as example_obj_2 %}

                <span class="fp-help-text fp-help-2">Введите входные данные</span>
                <img src="{{ STATIC_URL }}img/fp-help1.png"/>

                <span class="fp-help-text fp-help-3">Допишите решение</span>
                <img src="{{ STATIC_URL }}img/fp-help1.png"/>
                <span class="fp-help-text fp-help-4 red">
                        h = int(input())<br>
                        b = int(input())<br>
                        print(1/2*b*h)
                </span>

                <span class="fp-help-text fp-help-5">Тестируйте</span>
                <img src="{{ STATIC_URL }}img/fp-help1.png"/>

                {% show_executors '#code13#' for example_obj_2 with 1 %}
            </div>
            <div class="fp-content">
                <h3>3. Записывайтесь на участие в олимпиадах!</h3>
                <span>
                    Для участия подайте заявку на участие, выбрав олимпиаду в <a href="/modules/">списке актуальных олимпиад</a>
                </span>
            </div>
            <div class="one-col fp-content">
            <p>Проверка задач и подсчет баллов происходит автоматически.
                Весь процесс решения прозрачен для участников.
                Смотрите ваш прогресс в турнирной таблице</p>

            <span class="fp-help-text fp-help-6">Ваши баллы, как процент от количества пройденных тестов</span>
            <img src="{{ STATIC_URL }}img/fp-help1.png"/>

            {% get_module 1 2 as module %}
            <table class="table-bordered progress-table">
                <thead>
                    <tr>
                    {% for th in module.table.thead.values %}
                        {% if forloop.first %}
                            <th>
                                <a href="{{ th.url }}">{{ th.text }}</a>
                            </th>
                        {% else %}
                            <th title="{{ th.text }}">
                                <a target="_blank" href="{{ th.url }}">{{ forloop.counter0 }}</a>
                            </th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </thead>

                <tbody>
                {% for tr in module.table.tbody %}
                    <tr>
                    {% for td in tr.values %}
                        {% if forloop.first %}
                            <td>
                                {{ td.text }}
                            </td>
                        {% else %}
                            <td class="{{ td.class }}">
                               <a target="_blank" href="{{ td.url }}">{{ td.text }}</a>
                            </td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
        </div>
        </div>
        <div class="fp-right-col">
            <span class="fp-help-text fp-help-1">Нажмите для запуска интерпретатора</span>
            <img src="{{ STATIC_URL }}img/fp-help1.png"/>
        </div>
    </div>

    <h2 class="fp-title">Список курсов</h2>

    {% get_courses as courses %}
    <div class="courses">
        {% for course in courses %}
            <div class="course-item">
                <div class="course-item-content">
                    <a href="{{ course.get_absolute_url }}">
                    <div class="title h2">{{course.title}}</div>
                    <div class="desc">{{course.about|safe|truncatewords_html:20}}</div>
                    </a>
                </div>
                <div class="course-item-content">
                    <div class="course-item-author">{{course.author.get_full_name|default:course.author.username}}</div>
                </div>
            </div>
        {% endfor %}
    </div>

        {% get_news as news %}
    <div class="news">
        <h2 class="fp-title">Новости</h2>
        {% for new in news %}
            <div class="one-col">
                <div class="news-item">
                    <div class="new-image">
                        <img src="{{ new.image.url }}"/>
                    </div>
                    <div class="new-item-container">
                        <div class="new-date">{{ new.date|date:"d.m.Y" }}</div>
                        <div class="new-item-title">{{ new.title }}</div>
                        <div class="new-content">{{ new.content|safe }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="command">
        <h2 class="fp-title">Наша команда</h2>
        <div class="one-col">
            <img src="{{ STATIC_URL }}img/command-2.png">
            <img src="{{ STATIC_URL }}img/command-3.png">
            <img src="{{ STATIC_URL }}img/command-1.jpg">
        </div>
    </div>

{% endblock %}
