<div class="row ace-container ace-{{ field.name }}">
    {% if field.label %}<label for="id-{{ field.name }}-{{ code_num }}">{{ field.label }}:</label>{% endif %}
    <div id="id-{{ field.name }}-{{ code_num }}" class="ace-editor" data-lang="{{ executor_name }}"
        {% if field.field.widget.attrs.disabled or disabled %}data-readonly="1"{% endif %}></div>
    <textarea class="ace-editor-content" name="{{ field.name }}"
              id="id-{{ field.name }}-{{ code_num }}-content">{{ field.value|default:"" }}</textarea>
</div>