{% load training_tags %}

<form
    class="editor-form js__editor-form"
    data-autosave="true"
    data-readonly="false"
    data-translator="{{ form.translator.value }}"
    data-taskitem-id="{{ object.id }}"
    data-task-id="{{ object.task.id }}"
>

    {% show_ace_field form.content %}

    <div class="control__bar taskitem">
        <div class="control__bar-col col__1">
            <div class="js__editor-btn js__editor-btn-ready" title="Отправить решение"></div>
            <div class="js__editor-btn js__editor-btn-save" title="Сохранить в черновик"></div>
        </div>
        {% if show_testing_actions %}
        <div class="control__bar-col col__2">
            {% if object.task.tests %}
                <div class="js__editor-btn js__editor-btn-tests" title="Протестировать решение"></div>
                <div class="js__editor-btn js__editor-btn-debug" title="Отладка"></div>
            {% else %}
                <div class="js__editor-btn js__editor-btn-debug" title="Отладка"></div>
            {% endif %}
        </div>
        {% endif %}

        <div class="control__bar-col col__3">
            <span class="js__msg js__msg-loader-text"></span>
            <span class="js__msg js__msg-loader">
                <span class="pulse"><span>{</span><span>}</span></span>
            </span>
            <span class="js__msg js__msg-success"></span>
            <span class="js__msg js__msg-warning"></span>
            <span class="js__msg js__msg-error"></span>
        </div>
    </div>

    {% if show_testing_actions %}
        {% show_ace_field form.input %}
        {% show_ace_field form.output %}
        {% show_ace_field form.error %}
    {% endif %}
</form>