*.bat
*.ps1
*.orig
*.pyc
*.sql
*.bak
*.dmp
.svn
.installed.cfg
.idea/*
*.gz
bin/*
downloads/*
eggs/*
develop-eggs/*
parts/*
commit.txt
venv/
public/*
media/*
backup/*
postgresql-data*
ansible/start.sh
src/cappa/settings/local.py
src/cappa/settings/prod.py
