{% extends "courses/base.html" %}
{% load executors_tags courses_tags mptt_tags %}

{% block main %}
    <div class="container">
        <div class="row">
            {% courses_breadcrumbs %}
        </div>
        <div class="row content">
            <div class="one-col">
                <h1 class="text-center">{{ object.long_title|default:object.title }}</h1>
                <div class ="course-content">{{ object.content|safe }}</div>
                <div class="course-topics">
                    {% get_visible_children object as topics %}
                    {% for topic in topics %}
                     <div class="topic-item">
                         <div class="topic-item-title h3">
                             <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a>
                         </div>
                         <div class="topic-item-content"><p>{{ topic.about|safe }}</p></div>
                         {% get_visible_descendants topic as descendants %}
                         {% if descendants %}
                             <ul class="topic-item-list">
                             {% recursetree descendants %}
                                 <li class="topic-item-list-child">
                                     <a href="{{node.get_absolute_url}}">{{ node.title }}</a>
                                    {% if children %}
                                       <ul>{{ children }} </ul>
                                    {% endif %}
                                 </li>
                             {% endrecursetree %}
                             </ul>
                         {% endif %}
                     </div>
                     {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}



