{% extends 'courses/base.html' %}

{% block content %}
    {% for course in courses %}
        <div class="course-item">
            <div class="course-item-content">
                <a href="{{ course.get_absolute_url }}">
                <div class="title h2">{{course.title}}</div>
                <div class="desc">{{course.about|safe|truncatewords_html:20}}</div>
                </a>
            </div>
            <div class="course-item-content">
                <div class="course-item-author">{{course.author.get_full_name|default:course.author.username}}</div>
            </div>
        </div>
        {% endfor %}
{% endblock %}


