{% extends 'courses/base.html' %}

{% block title %}Курсы{% endblock %}
{% block content_title %}Курсы{% endblock %}


{% block container %}
    <div class="col-md-12 d-flex justify-content-start align-items-center courses-container">
        {% for course in courses %}
            <a href="{{ course.get_absolute_url }}">
                <div class="course-item">
                    <div class="h3 title">{{course.title}}</div>
                    <div class="desc">{{course.about|safe|truncatewords_html:20}}</div>
                    <div class="author">{{course.author.get_full_name|default:course.author.username}}</div>
                </div>
            </a>
         {% endfor %}
  </div>
{% endblock %}


