{% extends "courses/base.html" %}
{% load executors_tags courses_tags mptt_tags %}

{% block main %}
    <div class="container">
        <div class="row">
            {% courses_breadcrumbs %}
        </div>
        <div class="row content">
            <div class="left-col">
                {% if object.leaf %}
                    <h1 class="text-center">{{ object.tree_name }}</h1>
                    <h3>Условие</h3><br/>
                    {% show_executors object.content for object %}
                {% else %}
                    <h1>{{ object.tree_name }}</h1>
                    {% show_executors object.content for object %}
                {% endif %}
            </div>
            <div class="right-col">
                <h1 class="">Навигация по курсу</h1>
                <hr>
                {% get_navigation object as navigation %}
                {% if navigation %}
                    <ul>
                    {% for item in navigation %}
                        {% include 'courses/nav_item.html' %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}



