{% extends 'training/base.html' %}
{% load static training_tags %}


{% block content %}
    <div class="one-col">
        <div class="white fp-content">
            <h1>Решение</h1>

            <table class="solution-info">
                <tr>
                    <td>Задача:</td>
                    <td>{{ object.taskitem.numbered_title }}</td>
                </tr>
                <tr>
                    <td>Пользователь:</td>
                    <td>{{ object.user.get_full_name|default:object.user.username }}</td>
                </tr>
                <tr>
                    <td>Язык:</td>
                    <td>{{ object.taskitem.lang }}</td>
                </tr>
                <tr>
                    <td>Дата:</td>
                    <td>{{ object.version_best.datetime|date_format }}</td>
                </tr>
                <tr class="status__{{ object.status }}">
                    <td>Прогресс:</td>
                    <td>{{ object.progress }} % (Пройдено тестов: {{ object.version_best.tests.num_success }} из {{ object.version_best.tests.num }})</td>
                </tr>
            </table>
            <div class="js__editor" data-lang="{{ object.taskitem.lang.provider }}">
                <div class="js__editor-ace">{{ object.version_best.content }}</div>
            </div>
        </div>

        {% if object.version_list %}
            <div class="fp-content">
                <h3>Версии решения</h3>
            </div>
            {% for version in object.version_list %}
                <div class="white fp-content">
                    <table class="solution-info">
                        <tr>
                            <td>Дата:</td>
                            <td>{{ version.datetime|date_format }}</td>
                        </tr>
                        <tr class="status__{{ object.status }}">
                            <td>Прогресс:</td>
                            <td>{{ version.progress }} % (Пройдено тестов: {{ version.tests.num_success }} из {{ version.tests.num }})</td>
                        </tr>
                    </table>

                    <div class="js__editor" data-lang="{{ object.taskitem.lang.provider }}">
                        <div class="js__editor-ace">{{ version.content }}</div>
                    </div>

                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>window.dispatchEvent(new Event('solutionPageLoaded'))</script>
{% endblock %}