
.ace-container {
    padding: 15px 10px;
    background-color:#f5f2f0;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ace-container.ace-tests,
.ace-container.ace-error,
.ace-container.ace-output {
    flex-direction: column;
    font-size: 12px;
    border-top: 1px solid #dcdcdc;
}

.ace-container.ace-input {
    flex-direction: column;
    font-size: 12px;
    border-bottom: 1px solid #dcdcdc;
}

.ace-container.ace-tests {
    position: relative;
    margin-top: 20px;
}

.tests-title {
    height: 50px;
}

.ace-container.ace-content label {
    display:none;
}

.ace-control-bar {
    position: absolute;
    right: 20px;
    top: 20px;
}

.ace-editor {
    position: relative;
    width: 620px;
    height: auto;
    font-size:14px;
    line-height: 1.5;
    background-color:#f5f2f0;
}

.editor-form.static .ace-editor {
    background-color: #eaeaea;
}

.editor-form.maximized .ace-editor {
    border: solid 1px #eeeeee;
}

.ace-editor-content {
    display:none;
}

.run-button {
    background: #82b915 url("/static/img/play_green.png") no-repeat;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editor-form {
    position: relative;
    width:100%;
    height:auto;
}