
.ace-container {
    padding: 15px 10px;
    background-color:#f5f2f0;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ace-container.ace-content {
    min-height: 70px;
}

.ace-container.ace-error,
.ace-container.ace-output {
    flex-direction: column;
    font-size: 12px;
    border-top: 1px solid #dcdcdc;
}

.ace-container.ace-tests table {
    width: 95%;
}

.ace-container.ace-tests .tests-title,
.ace-container.ace-tests table th {
    font-size: 12px;
    padding-left: 10px;
}

.ace-container.ace-tests table tbody td{
    padding:0;
    text-align: center;
    vertical-align: middle;
}

.ace-container.ace-input {
    flex-direction: column;
    font-size: 12px;
    border-bottom: 1px solid #dcdcdc;
}

.ace-container.ace-tests {
    position: relative;
    padding: 15px 0;
}

.tests-title {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.ace-container.ace-content label {
    display:none;
}

.ace-control-bar {
    position: absolute;
    right: 20px;
    top: 20px;
}

.ace-editor {
    position: relative;
    width: 620px;
    height: auto;
    font-size:14px;
    line-height: 1.5;
    background-color:#f5f2f0;
}

.editor-form.static .ace-editor {
    background-color: #eaeaea;
}

.editor-form.maximized .ace-editor {
    border: solid 1px #eeeeee;
}

.ace-editor-content {
    display:none;
}

.run-button {
    background: #82b915 url("/static/img/play_green.png") no-repeat;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editor-form {
    position: relative;
    width:100%;
    height:auto;
}

.success_bar {
    z-index: 5;
    background: #15b957;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 2px 6px;
    height: 30px;
}