.ace-container {
    padding: 15px 10px;

}

.ace_content {
    background-color:#f5f2f0;
}

.ace-editor {
    position: relative;
    height: 200px;

    background-color:#f5f2f0;
    font-size:14px !important;
    line-height: 1.5 !important;
}

.ace-editor-content {
    display:none;
}

.field-input .ace-editor,
.field-output .ace-editor {
    height: 60px;
}

.inline-group h2 {
    text-transform: none !important;
}

.inline-related.dynamic-executors-code-content_type-object_id {
    border: 1px solid #ccc;
    margin-bottom: 20px;

}

.add-row {
    margin-bottom: 20px;
}

.inline-group.nested-inline.cloned {
    /*display: none;*/
}

.inline-group.nested-inline.cloned .tabular{
    display: none;
}

.inline-group.nested-inline.cloned:before {
    content:"Тесты доступны после сохранения блока кода";
    height:20px;
    position: relative;
    display: block;
    background: #f8f8f8;
    color: #666;
    padding: 8px;
    font-size: 12px;
}
