{% extends 'taskbook/base.html' %}
{% load static base_tags %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/css/ion.rangeSlider.min.css' %}"/>
{% endblock %}

{% block content %}
    <div class="one-col">
        <div class="white page-content ">
            <h1 class="text-center">Задачник</h1>
            <form method="get" class="taskbook__filter">
                <div class="form-group">
                    <label>{{ form.rating.label }}:</label>
                    <span style="display: none">{{ form.rating }}</span>
                       <input type="text" class="js-range-slider" name="my_range" value=""
                        data-type="double"
                        data-min="0"
                        data-max="100"
                        data-from="{{ form.rating.value.0|default:0 }}"
                        data-to="{{ form.rating.value.1|default:0 }}"
                        data-grid="true"
                        data-skin="round"
                    />
                </div>
                <div class="form-group">
                    {{ form.search }}
                </div>
                <div class="form-group">
                    <button
                        id="js__lang_btn"
                        class="btn taskbook__filter-btn"
                        type="button"
                        data-toggle="collapse"
                        data-target="#js__lang_choices"
                        aria-expanded="false"
                    >{{ form.lang.label }}</button>
                    <div class="collapse ml-2 js__choices" data-name="lang" id="js__lang_choices">
                        {{ form.lang }}
                    </div>
                </div>
                <div class="form-group">
                    <button
                        id="js__difficulty_btn"
                        class="btn taskbook__filter-btn"
                        type="button"
                        data-toggle="collapse"
                        data-target="#js__difficulty_choices"
                        aria-expanded="false"
                    >{{ form.difficulty.label }}</button>
                    <div class="collapse ml-2 js__choices" data-name="difficulty" id="js__difficulty_choices">
                        {{ form.difficulty }}
                    </div>
                </div>
                <div class="form-group">
                    <button
                        id="js__tags_btn"
                        class="btn taskbook__filter-btn"
                        type="button"
                        data-toggle="collapse"
                        data-target="#js__tags_choices"
                        aria-expanded="false"
                    >{{ form.tags.label }}</button>
                    <div class="collapse ml-2 js__choices" data-name="tags" id="js__tags_choices">
                        {{ form.tags }}
                    </div>
                </div>

                <input type="submit" class="btn btn-primary taskbook__filter-submit" value="Применить">
                <a href="#" class="taskbook__filter-reset red-link">Очистить</a>

            </form>
        </div>
    </div>
    <div class="one-col">
        <div class="white page-content ">
            <div class="table-container">
                <table class="table js__tablesorter">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Сложность</th>
                            <th>Рейтинг</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for taskitem in taskitems %}
                        <tr>
                            <td>
                                <a href="{% url 'taskbook:taskitem' taskitem.slug %}" target="_blank">{{ taskitem.title }}</a>
                            </td>
                            <td>
                                {{ taskitem.task.difficulty_name|default:'Сложность не указана' }}
                            </td>
                            <td>
                                {{ taskitem.task.rating }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'js/main22.js' %}"></script>
    <script src="{% static 'js/taskbook.js' %}"></script>
    <script>window.dispatchEvent(new Event('taskBookPageLoaded'))</script>
{% endblock %}