{% extends 'taskbook/base.html' %}
{% load static base_tags %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static '/css/ion.rangeSlider.min.css' %}"/>
{% endblock %}

{% block content %}
    <div class="one-col">
        <div class="white page-content ">
            <h1 class="text-center">Задачник</h1>
            <form method="post" class="was-validated">
                {% csrf_token %}
                <div class="form-group">
                    <label>{{ form.rating.label }}:</label>
                    <span style="display: none">{{ form.rating }}</span>
                       <input type="text" class="js-range-slider" name="my_range" value=""
                        data-type="double"
                        data-min="0"
                        data-max="100"
                        data-from="{{ form.rating.value.0|default:0 }}"
                        data-to="{{ form.rating.value.1|default:0 }}"
                        data-grid="true"
                        data-skin="round"
                    />
                </div>
                <div class="form-group">
                    <label>{{ form.difficulty.label }}:</label>
                    {{ form.difficulty }}
                </div>
                <div class="form-group">
                    <label>{{ form.tags.label }}:</label>
                    {{ form.tags }}
                </div>

                <input type="submit" class="btn btn-primary" value="Применить">
            </form>
        </div>
    </div>
    <div class="one-col">
        <div class="white page-content ">
            <div class="table-container">
                <table class="table js__tablesorter">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Сложность</th>
                            <th>Рейтинг</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for taskitem in taskitems %}
                        <tr>
                            <td>
                                <a href="{% url 'taskbook:taskitem' taskitem.slug %}" target="_blank">{{ taskitem.title }}</a>
                            </td>
                            <td>
                                {{ taskitem.task.difficulty_name|default:'Сложность не указана' }}
                            </td>
                            <td>
                                {{ taskitem.task.rating }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'js/main22.js' %}"></script>
    <script>
        window.dispatchEvent(new Event('initTablesorter'));
            $(".js-range-slider").ionRangeSlider({
                onFinish: function (data) {
                    document.querySelector('#id_rating_0').value = data.from;
                    document.querySelector('#id_rating_1').value = data.to;
                },
            });

    </script>
{% endblock %}