{% extends 'tasks/base.html' %}
{% load l10n %}
{% load static base_tags %}

{% block content %}
    <div class="one-col">
        <div class="white page-content ">
            <h1 class="text-center">Список решений</h1>
            {% if solutions %}
                <div class="table-container">
                    <table class="table js__tablesorter">
                        <thead>
                            <tr>
                                <th>Задача</th>
                                <th>Источник</th>
                                <th>Дата создания</th>
                                <th>Язык</th>
                                <th>Оценочный метод</th>
                                <th>Оценка</th>
                            </tr>
                        </thead>
                        {% for solution in solutions %}
                        <tr>
                            <td>
                                <a target="_blank" href="{% url 'solutions:solution' solution.id  %}">{{ solution.task_name }}</a>
                            </td>
                            <td>
                                {% if solution.type_course %}
                                    {{ solution.type_name_value }}: {{ solution.type_name }}
                                {% else %}
                                    {{ solution.type_name_value }}
                                {% endif %}
                            </td>
                            <td class="js__utc-time" data-utc-time="{{ solution.created|date:'Y-m-d H:i:s.u' }}"></td>
                            <td>{{ solution.translator_name }}</td>
                            <td>{{ solution.score_method_name }}</td>
                                {% if solution.review_status_awaiting_check %}
                                    <td>{{ solution.review_status_name }}</td>
                                {% elif solution.score_method_is_review or solution.score_method_is_tests_and_review %}
                                    {% if solution.review_score == None %}
                                        <td>-</td>
                                    {% else %}
                                        {% if solution.hide_review_score and not request.user.is_teacher %}
                                            <td>выставлена</td>
                                        {% else %}
                                            <td>{{ solution.review_score|cut_zero|unlocalize }} / {{ solution.max_score }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% elif solution.score_method_is_tests %}
                                    {% if solution.testing_score == None %}
                                        <td>-</td>
                                    {% else %}
                                        <td>{{ solution.testing_score|cut_zero|unlocalize }} / {{ solution.max_score }}</td>
                                    {% endif %}
                                {% endif %}
                        </tr>
                        {% endfor %}
                        </table>
                </div>
            {% else %}
                <p>Решений не найдено</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'js/main22.js' %}"></script>
    <script>window.dispatchEvent(new Event('initTablesorter'))</script>
{% endblock %}