{% extends 'groups/base.html' %}
{% load static %}

{% block content %}
    <div class="one-col groups">
        <div class="white page-content ">
            <h1 class="text-center">Учебные группы</h1>

            <form class="search__form">
                <div class="input-group input-group-sm">
                    {% csrf_token %}
                    {{ form.search }}
                    <input type="submit" value="" title="поиск" />
                </div>
            </form>
            {% if groups %}
                <div class="table-container">
                    <table class="table js__tablesorter">
                        <thead>
                            <tr>
                                <th>Год</th>
                                <th>Название</th>
                                <th>Вступление в группу</th>
                                <th>Кол-во учеников</th>
                                {% if request.user.is_authenticated %}
                                    <th>Статус</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for group in groups %}
                                <tr>
                                    <td>{{ group.year }}</td>
                                    <td><a href="{% url 'groups:group' group_id=group.id %}" >{{ group.title }}</td>
                                    <td>{{ group.status_name }}</td>
                                    <td>{{ group.learners_count }}</td>
                                    {% if request.user.is_authenticated %}
                                        <td>
                                            {% if group.user_is_teacher %}
                                                Преподаватель
                                            {% elif group.user_is_learner %}
                                                Ученик
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>Ничего не найдено!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'js/main22.js' %}"></script>
    <script>window.dispatchEvent(new Event('initTablesorter'))</script>
{% endblock %}