{% extends 'groups/base.html' %}
{% load static %}

{% block content %}
    <div class="one-col">
        <div class="white page-content ">
            <h1 class="text-center">{{ object.title }}</h1>
            {% if object.content %}
                <p>
                    <strong>Описание:</strong>
                </p>
                <div class="text">{{ object.content|safe }}</div>
            {% endif %}

            {% include 'groups/parts/group_teachers.html' %}

            {% if request.user.is_authenticated %}
                {% if object.user_is_learner or object.user_is_teacher %}
                    {% include 'groups/parts/group_courses.html' %}
                {% else %}
                    {% include 'groups/parts/join_form.html' %}
                {% endif %}
            {% else %}
                <p><a href="{% url 'auth:signin' %}">Авторизуйтесь</a> чтобы продолжить</p>
            {% endif %}
        </div>
    </div>
    {% include 'groups/parts/group_learners.html' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'js/main22.js' %}"></script>
    <script>window.dispatchEvent(new Event('initTablesorter'))</script>
{% endblock %}