{% extends "base.html" %}
{% load executors_tags courses_tags mptt_tags %}

{% block css %}{{ block.super }}
    <link href="{{ STATIC_URL }}css/ace/ace2.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}

{% block title %}{{ object.tree_name }}. Решение{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            {% courses_breadcrumbs %}
            <a class="breadcrumb" href='{{ object.get_absolute_url }}'>
                {% include 'includes/svg/arrow-left.svg' %}
                <span>{{ object.tree_name }}</span>
            </a>
        </div>
        <div class="row content">
            <div class="left-col">
                <div class="white fp-content">
                    <h1 class="text-center">{{ object.tree_name }}</h1>

                    <h3>Решение</h3><br/>

                    <table class="solution-info">
                        <tr>
                            <td><h4>Пользователь:</h4></td>
                            <td>{{ solution.user.get_full_name|default:solution.user.username }}</td>
                        </tr>
                        <tr>
                            <td><h4>Язык:</h4></td>
                            <td>{{ solution.code.get_executor_name }}</td>
                        </tr>
                        <tr>
                            <td><h4>Дата:</h4></td>
                            <td>{{ solution.best_time }}</td>
                        </tr>
                        <tr class="{{ solution.status }}">
                            <td><h4>Прогресс:</h4></td>
                            <td>{{ solution.progress }} % (Пройдено тестов: {{ solution.best.tests.num_success }} из {{ solution.best.tests.num }})</td>
                        </tr>
                    </table>

                    <form id="editor-form-999" class="editor-form mt-2 mb-3"
                          data-code_num="999">
                        {% include 'executors/ace/widget.html' with field=form.content  code_num=999 %}
                    </form>
                </div>

                {% if solution.versions %}
                    <div class="fp-content">
                        <h3>Версии решения</h3>
                    </div>
                    {% for version in solution.get_versions %}
                        <div class="white fp-content">
                            <table class="solution-info">
                                <tr>
                                    <td><h4>Дата:</h4></td>
                                    <td>{{ version.datetime }}</td>
                                </tr>
                                <tr class="{{ solution.status }}">
                                    <td><h4>Прогресс:</h4></td>
                                    <td>{{ version.progress }} % (Пройдено тестов: {{ version.tests.num_success }} из {{ version.tests.num }})</td>
                                </tr>
                            </table>

                            {% include 'executors/ace/widget.html' with field=version.content code_num=forloop.counter %}

                        </div>
                    {% endfor %}
                {% endif %}

            </div>
            <div class="right-col white">
                <h1 class="">Навигация по курсу</h1>
                <hr>
                {% get_navigation object as navigation %}
                {% if navigation %}
                    <ul>
                    {% for item in navigation %}
                        {% include 'courses/nav_item.html' %}
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}{{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.4/ace.js"></script>
    <script src="{{ STATIC_URL }}js/ace/ace_init.js"></script>
{% endblock %}
