<form method="POST" id="editor-form-{{ code_num }}" class="editor-form mt-2"
      action="{% url 'execute' %}" data-tests-action="{% url 'check_tests' %}"
      data-save-version-action="{% url 'save_version' %}"
      data-code_num="{{ code_num }}" data-code_id="{{ code_id }}">

    {% csrf_token %}
    {% if code_solved %}
        <input type="hidden" name="code_solved" value="True">
    {% endif %}

    {{ form.media }}

    {% if show_input %}
        <div class="ace-input">
            {% include 'executors/ace/widget.html' with field=form.input %}
        </div>
    {% endif %}
    <div class="ace-content">
        {% include 'executors/ace/widget.html' with field=form.content %}
    </div>
    <div class="ace-control-bar">
        {% include 'executors/ace/control_bar.html' %}
    </div>
    <div class="ace-output">
        <div>
            {% if form.error.value %}
                {% include 'executors/ace/widget.html' with field=form.output %}
            {% endif %}
        </div>
    </div>
    <div class="ace-error">
        <div>
            {% if form.error.value %}
                {% include 'executors/ace/widget.html' with field=form.error %}
            {% endif %}
        </div>
    </div>

</form>

{% if show_tests and tests %}
    </div>
    <div class="fp-content">
        <h3>Тесты</h3>
    </div>
    <div id="ace-tests-{{ code_num }}" class="ace-tests white fp-content">
        <div class="tests-container">
            {% include 'executors/ace/tests.html' %}
        </div>

{% endif %}

