@charset "UTF-8";

.btn.btn-danger {
    background: #ba2121;
}
.btn.btn-danger:focus,
.btn.btn-danger:active,
.btn.btn-danger:hover {
    background: #a41515;
}
.btn.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}
.btn.btn-warning:active,
.btn.btn-warning:focus,
.btn.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}