@charset "UTF-8";

/* кастомные классы ширины  */
.large-input {
    width: 785px !important
}

.root__link {
    font-weight: 600;
    margin: 20px 10px 10px;
    display: block;
    font-size: 16px;
}

.sidebar__table {
    width: 100%
}

.sidebar__caption {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #79aec8;
    color: #fff;
}

#content-related.sidebar {
    background-color: #fff;
}

#recent-actions-module.module {
    background: #f8f8f8;
}
