{% load static menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% if site.logo_title %}{{ site.logo_title }}{% endif %}{% endblock %}</title>
    {% block css %}
        <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}"">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.tablesorter.css' %}">
        <link rel="stylesheet" href="{% static 'css/style22.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
    <div class="wrapper">
        <div class="header__menu">
            <nav class="header__menu-nav container">
                <div class="header__menu-col-1">
                    {% if site.logo_title %}<a class="menu__item-home" href="/">{{ site.logo_title }}</a>{% endif %}
                    {% if site.logo_desc %}<span class="menu__item-desc">{{ site.logo_desc }}</span>{% endif %}
                </div>
                <div class="header__menu-col-2">
                    {% show_menu 'top' %}
                </div>
                <div class="header__menu-col-3">
                    <div class="profile__bar">
                        {% if request.user.is_active %}
                            {% if request.user.is_staff %}
                                <a class="profile__bar-username-icon" target="_blank" href="/admin/"></a>
                                <a class="profile__bar-username" target="_blank" href="/admin/">{{ request.user.get_full_name }}</a>
                            {% else %}
                                <span class="profile__bar-username-icon"></span>
                                <span class="profile__bar-username">{{ request.user.get_full_name }}</span>
                            {% endif %}

                        {% endif %}
                        {% if request.user.is_active %}
                            <a class="profile__bar-logout-icon" title="Выйти" href="{% url 'profile:signout' %}"></a>
                        {% else %}
                            <a class="profile__bar-login" href="{% url 'profile:signin' %}">Войти</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
        <main>
        {% block main %}
            <div class="container">
                <div class="row breadcrumbs">
                    {% block breadcrumbs %}
                        <a class="breadcrumbs__item-home" href='/'></a>
                    {% endblock %}
                </div>
                <div class="row content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            {% block sidebar %}
            <div class="sidebar js__sidebar">
                <div class="sidebar__control">
                    {% block sidebar_control %}
                        {% show_menu 'sidebar' %}
                    {% endblock %}
                </div>
                <div class="sidebar__control-background"></div>
                <div class="sidebar__body">
                    <div class="sidebar__body-title">
                        {% block sidebar_title %}{% endblock %}
                    </div>
                    {% block sidebar_body %}{% endblock %}
                </div>
            </div>
            {% endblock %}
        {% endblock %}
        </main>
    </div>

    <footer>
        <div class="container">
            <div class="row footer-nav">
                <span>{% if site.copyright %}© {{ site.copyright }}-{% now 'Y' %}{% endif %}</span>
                <a href="//github.com/z-station/cappa" target="_blank" class="footer-powered">
                    <div class="first">powered by</div>
                    <div class="second">z-station</div>
                </a>
            </div>
        </div>
    </footer>
    
{% block js %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.js' %}"></script>
    <script src="{% static 'js/ace-1.4.7/ace.js' %}"></script>
    <script src="{% static 'js/main22.js' %}"></script>
    <script src="{% static 'js/training/main20.js' %}"></script>
    <script src="{% static 'js/training/taskitem22.js' %}"></script>
    <script src="{% static 'js/training/topic20.js' %}"></script>
    <script src="{% static 'js/training/solution20.js' %}"></script>
    <script src="{% static 'js/groups/group_course21.js' %}"></script>
{% endblock %}

</body>
</html>
