version: "3.3"

services:
  cappa-db:
    container_name: cappa-db
    image: postgres:13
    networks:
      - localhost
    volumes:
      - ../postgresql-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: cappa
      POSTGRES_PASSWORD: cappa
      POSTGRES_DB: cappa
    restart: always

  cappa-app:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    container_name: cappa-app
    image: cappa-app
    volumes:
      - ../public:/app/public
      - ../src:/app/src:ro
      - ../backup:/app/backup
    ports:
      - 9000:9000
    networks:
      - localhost
    depends_on:
      - cappa-db
    environment:
      POSTGRES_USER: cappa
      PGPASSWORD: cappa
      POSTGRES_DB: cappa
      POSTGRES_HOST: cappa-db
      APP_STATIC_ROOT: /app/public/static
      PYTHON38_INTERNAL_URL: http://sandbox-python38:9001
      GCC74_INTERNAL_URL: http://sandbox-gcc74:9002
    restart: always
    healthcheck:
      test: ["CMD", "pg_isready", "-h", cappa-db]
      interval: 5s
      timeout: 5s
      retries: 10
    command: >
      sh -c "memcached -d -u memcache &&
             cd /app/src &&
             python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn --bind 0:9000 app.wsgi:application --reload -w 1"
networks:
  localhost:
