<table class="course__table">
    <caption>{{ table.caption }}</caption>
    <thead>
        <tr>
            {% for th in table.thead %}
                <th title="{{ th.title }}"><a href="{{ th.url }}" target="_blank">{{ th.text }}</a></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for tr in table.tbody %}
            <tr>
                {% for td in tr %}
                    <td class="{{ td.status }}" >
                        {% if td.url and show_solutions_links %}
                            <a title="{{ td.title }}" href="{{ td.url }}" target="_blank">{{ td.text }}</a>
                        {% else %}
                            <span title="{{ td.title }}" >{{ td.text }}</span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>