{% extends 'taskbook/taskitem/base.html' %}
{% load static training_tags %}

{% block content_1 %}
    <div class="white page-content ">
        <h3>Редактор решения</h3>
        {% show_editor object %}
    </div>
{% endblock %}

{% block content_2 %}
    {% if object.score_method_is_tests or object.score_method_is_tests_and_review %}
        {% if object.task.tests %}
            <div class="white page-content ">
                <h3>Тесты на решение</h3></br>

                <div class="form__tests-container">
                    <table class="js__form__tests-table" id="form__tests-table">
                        <thead>
                        <tr>
                            <th class="form__test-counter">№</th>
                            <th class="form__test-input">Консольный ввод</th>
                            <th class="form__test-output">Правильный ответ</th>
                            <th class="js__form__test-result hidden">Вывод программы</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for test in object.task.tests %}
                            <tr class="js__form__test-{{ forloop.counter0 }}">
                                <td class="form__test-counter"><div>{{ forloop.counter }}</div></td>
                                <td class="form__test-input"><pre>{{ test.input }}</pre></td>
                                <td class="form__test-output"><pre>{{ test.output }}</pre></td>
                                <td class="js__form__test-result hidden"><pre></pre></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}