*.bat
*.ps1
*.orig
*.pyc
*.sh
*.sql
*.bak
*.dmp
.svn
.project
.pydevproject
.settings
.installed.cfg
.idea/*
bin/*
downloads/*
eggs/*
develop-eggs/*
parts/*
commit.txt
dvery/localsettings.py
media/upload/*
static/*
bootstrap.py
dvery/production.py
search/*
/liderdveri/settings.py
venv/
venv27/
*.sql
*.sqlite3
node_modules/