{% extends "base.html" %}

{% load account %}

{% block content_title %}Подтвердите e-mail адрес{% endblock %}


{% block content %}

    {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}
        <section class="container">
            <section class="row justify-content-center">
                <form class="col-4 auth-form" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    <p>Пожалуйста, подтвердите <a
                            href="mailto:{{ confirmation.email_address.email }}">{{ confirmation.email_address.email }}</a>
                        для пользователя {{ user_display }}.</p>
                    {% csrf_token %}
                    <div class="form-group">
                        <button type="submit">Подтвердить</button>
                    </div>
                </form>
            </section>
        </section>
    {% else %}

        {% url 'account_email' as email_url %}

        <p>Ваша ссылка истекла или неверна. Пожалуйста<a href="{{ email_url }}"> запросите новое поддтверждение</a>.</p>

    {% endif %}

{% endblock %}
