{% extends "account/base.html" %}

{% block head_title %}Выход{% endblock %}

{% block content_title %}Выход{% endblock %}

{% block content %}

<div class="one-col white">

  <p>Вы уверены что хотите выйти?</p>
  <div>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" class="btn btn-danger">Выйти</button>
    </form>
  </div>
</div>

{% endblock %}
