{% extends "base.html" %}
{% load account %}

{% block content_title %}Сброс пароля{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}


    <section class="container">
        <section class="row justify-content-center">
            <form class="col-4 login auth-form" method="POST" action="{% url 'account_reset_password' %}"
                  class="password_reset">
                {% csrf_token %}
                <span class="float">Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля</span>
                <div class="form-group">
                    {{ form.email }}
                </div>
                <button type="submit">Сбросить пароль</button>
            </form>
        </section>
    </section>


{% endblock %}
