{% extends "base.html" %}

{% block content_title %}Регистрация{% endblock %}

{% block content %}
    <section class="container">
        <section class="row justify-content-center">
            <form class="col-4 signup auth-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert-error">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert-error">
                           <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                {% csrf_token %}
                <div class="form-group">

                    {{ form.email }}
                </div>

                <div class="form-group">

                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    {{ form.password2 }}
                </div>


                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit">Зарегистрироватся</button>
            </form>
        </section>
    </section>

{% endblock %}
