{% extends 'tasks/base.html' %}
{% load static base_tags %}
{% load l10n %}


{% block content %}
    <div class="one-col">
        <div class="white fp-content">
            {% if object.is_internal %}
                <h1 class="text-center">Решение</h1>
            {% else %}
                <h1 class="text-center">Внешнее решение</h1>
            {% endif %}
            <h3>Общая информация</h3>

            <table class="solution__info">
                <tr>
                    <td>Задача:</td>
                    <td>{{ object.task_name }}</td>
                </tr>
                <tr>
                    <td>Язык:</td>
                    <td>{{ object.translator_name }}</td>
                </tr>
                {% if object.is_internal %}
                    <tr>
                        <td>Пользователь:</td>
                        <td>{{ object.user_last_name }} {{ object.user_first_name }}</td>
                    </tr>
                    <tr>
                        <td>Источник решения:</td>
                        <td>{{ object.type_name_value }}: {{ object.type_name }}</td>
                    </tr>
                    {% if object.due_date %}
                    <tr>
                        <td>Срок сдачи:</td>
                        <td class="js__utc-time" data-utc-time="{{ object.due_date|date:'Y-m-d H:i:s.u' }}"></td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Дата отправки:</td>
                        <td>
                            <span class="js__utc-time" data-utc-time="{{ object.created|date:'Y-m-d H:i:s.u' }}"></span>
                            {% if object.due_date != None and object.created > object.due_date %}
                                <span> (отправлено позже срока сдачи)</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Оценочный метод:</td>
                        <td>{{ object.score_method_name }}</td>
                    </tr>
                    <tr>
                        <td>Максимальный балл:</td>
                        <td>{{ object.max_score }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>Внешний источник:</td>
                        <td>{{ object.external_source_name }}</td>
                    </tr>
                    <tr>
                        <td>Описание:</td>
                        <td>{{ object.description|safe }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>

        {% if object.is_internal %}
            {% if object.score_method_is_tests or object.score_method_is_tests_and_review %}
                <div class="white fp-content">
                    <h3>Результаты тестирования кода</h3>
                    <div>
                        <table class="solution__info">
                            <tr>
                                <td>Кол-во тестов:</td>
                                <td>{{ object.count_tests }}</td>
                            </tr>
                            <tr>
                                <td>Кол-во пройденных тестов:</td>
                                <td>{{ object.count_passed_tests }}</td>
                            </tr>
                            <tr>
                                <td>Оценка:</td>
                                <td>{{ object.testing_score|cut_zero|unlocalize }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endif %}
            {% if object.score_method_is_review or object.score_method_is_tests_and_review %}
                {% if request.user.is_teacher %}
                    <div class="white fp-content">
                        <form method="POST" class="solution__form {% if form.non_field_errors %}error{% endif %}">
                            {% csrf_token %}
                            <h3>Результаты проверки преподавателем</h3>
                            <div>
                                <table class="solution__info">
                                    <tr class="form-tr">
                                        <td>Преподаватель:</td>
                                        <td>{{ object.reviewer_full_name }}</td>
                                    </tr>
                                    <tr class="form-tr">
                                        <td>{{ form.review_status.label_tag }}</td>
                                        <td>{{ form.review_status }}</td>
                                    </tr>
                                    <tr class="form-tr">
                                        <td>{{ form.review_score.label_tag }}</td>
                                        <td>{{ form.review_score|unlocalize }}</td>
                                    </tr>
                                    {% for error in form.non_field_errors %}
                                        <tr class="form-tr">
                                            <td colspan="2">
                                                <small class="solution__form-msg">{{ error }}</small>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <div class="pt-1">
                                    <strong>{{ form.reviewer_comment.label_tag }}</strong>
                                    {{ form.reviewer_comment }}
                                </div>
                                <div class="pt-3" title="Пользователь не увидит оценку, только то что решение проверено">
                                    {{ form.hide_review_score }}
                                    <label for="id_hide_review_score">{{ form.hide_review_score.label }}</label>
                                </div>
                                <div title="Пользователь не увидит комментарий">
                                    {{ form.hide_reviewer_comment }}
                                    <label for="id_hide_reviewer_comment">{{ form.hide_reviewer_comment.label }}</label>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Сохранить" />
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="white fp-content">
                        <h3>Результаты проверки преподавателем</h3>
                        <div>
                            <table class="solution__info">
                                <tr>
                                    <td>Проверил:</td>
                                    <td>{{ object.reviewer_full_name }}</td>
                                </tr>
                                <tr>
                                    <td>Статус проверки:</td>
                                    <td> {{ object.review_status_name }}</td>
                                </tr>
                                {% if not object.hide_review_score %}
                                <tr>
                                    <td>Оценка:</td>
                                    <td>{{ object.review_score|cut_zero }}</td>
                                </tr>
                                {% endif %}
                            </table>
                            {% if object.reviewer_comment and not object.hide_reviewer_comment %}
                                <div class="pt-1" ><strong>Комментарий преподавателя:</strong></div>
                                <div class="pt-2">{{ object.reviewer_comment|safe }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

        <div class="white fp-content">
            <h3>Листинг решения</h3>
            <div class="js__editor" data-translator="{{ object.translator }}">
                <div class="js__editor-ace">{{ object.content }}</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/ace-1.4.7/ace.js' %}"></script>
    <script src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
    <script src="{% static 'django_tinymce/init_tinymce.js' %}"></script>
    <script src="{% static 'js/main22.js' %}"></script>
    <script src="{% static 'js/tasks/solution20.js' %}"></script>
    <script>window.dispatchEvent(new Event('solutionPageLoaded'))</script>
{% endblock %}