{% if object.user_is_learner or object.user_is_teacher %}
    {% with object.learners as learners %}
        {% if learners %}
            <div class="one-col">
                <div class="white page-content ">
                    <h3 class="text-center">Список участников</h3>
                    <div class="table-container">
                        <table class="table js__tablesorter"
                            data-sort-col="3"
                            data-sort-direction="desc"
                            data-sortlist="[[3,1],[1,0]]">
                            <thead>
                                <tr>
                                    <th data-sorter="false">№</th>
                                    <th>Фамилия</th>
                                    <th>Имя</th>
                                    <th>Отчество</th>
                                    {% if object.show_date_joined %}<th>Дата регистрации</th>{% endif %}
                                    {% if object.show_date_last_seen %}<th>Дата последнего входа</th>{% endif %}
                                    {% if object.show_status %}<th>Статус онлайн</th>{% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for learner in object.learners %}
                                    <tr class="{% if learner.is_online %}s-green{% endif %}">
                                        <td class="js__tablesorter-number">{{ forloop.counter }}</td>
                                        <td>{{ learner.last_name }}</td>
                                        <td>{{ learner.first_name }}</td>
                                        <td>{{ learner.father_name }}</td>
                                        {% if object.show_date_joined %}
                                            <td>{{ learner.date_joined|date:"Y.m.d H:i" }}</td>
                                        {% endif %}
                                        {% if object.show_date_last_seen %}
                                            <td class="js__utc-time"
                                                data-utc-time='{{ learner.last_seen_time|date:"Y.m.d H:i" }}'>
                                            </td>
                                        {% endif %}
                                        {% if object.show_status %}
                                            <td>{% if learner.is_online %}онлайн{% endif %}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endif %}
