.group-mine {
    background: deepskyblue;
    color: white;
}

.group-close {
    background: gainsboro;
    color: gray;
}

.group-close:hover {
    background: gray !important;
    color: gainsboro;
}

div.row .btn {
    margin: 5px 5px 10px;
}
