.group-mine {
    background: deepskyblue;
    color: white;
}

.group-close {
    background: gainsboro;
    color: gray;
}

.group-close:hover {
    background: gray !important;
    color: gainsboro;
}

div.row .btn {
    margin: 5px 5px 10px;
}

#id_editor {
    position: relative;
    width:570px;
    height: 200px;
    border: solid 1px #eeeeee;
}

#id_input, #id_output {
    position: relative;
    width:280px;
    height: 100px;
    border: solid 1px #eeeeee;
}

pre {
    width: 100%;
}