
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: #40484a;
    display: block;
    font-weight: 500;
    margin: 0;
    line-height: 1.3 !important;
    text-rendering: optimizeLegibility
}


h1, .h1 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 15px;
}

h2, .h2 {
    font-size: 1.75rem !important
}

h3, .h3 {
    font-size: 1.25rem !important;
    color: #40484a;
}

h4, h4 {
    font-size: 1.125rem !important
}

h5, h5 {
    font-size: 1rem !important
}

h6, h6 {
    font-size: 0.875rem !important
}


a {
    transition: color 200ms 0s ease, padding 200ms 0s ease, border 200ms 0s ease, background-color 200ms 0s ease;
}

a:hover {
    text-decoration: none;
}

.row {
    margin: 0;
}

.container {
    max-width: 1240px;
}

.tr-close {
    background: gainsboro;
    color: gray;
}

.tr-close:hover {
    background: gray !important;
    color: gainsboro;
}


div.row .btn {
    margin: 5px 5px 10px;
}


table.progress-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border: 0;
}

table.progress-table th {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    min-width: 200px;
}

table.progress-table th a {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 200ms 0s ease, padding 200ms 0s ease, border 200ms 0s ease, background-color 200ms 0s ease;
    white-space: normal;
    line-height: 1.2;
}

table.progress-table th:first-child a,
table.progress-table th:first-child a:hover {
    cursor: default;
}

.progress-table td {
    padding: 5px 10px;
    min-width: 50px;
    color: #4f4e4d;
    font-size: 20px;
    min-width: 70px;
    text-align: center;
}

.progress-table tr td:first-child {
    font-weight: bold;
    text-align: left;
}

.progress-table td.success {
    background-color: #96ff8e;
}

.progress-table td.process {
    background-color: #f7ff4b;
}

.progress-table td.unluck {
    background-color: #ffae95;
}

/* group course table */
.group__courses {
    height: max-content;
}

.course__tables {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}

.course__head {
    padding: 0;
    margin-top: 48px;
}
.course__head table {
    width: 100%;
    max-width: 100%;
}

.course__head table tr td {
    white-space: normal;
}

.course__head table tr td:first-child {
    text-align: left;
}

.course__table {
    margin-right: 10px;
    margin-bottom: 13px;
}
.course__table:last-child {
    margin-right: 0px;
}

.course__table caption {
    caption-side: top;
}
.course__table tr th,
.course__table tr td {
    white-space: nowrap;
    min-width: 40px;
    min-height: 40px;
    height: 40px;
    border: 1px #ddd solid;
    text-align: center;
    font-size: 14px;
}
.course__table tr th a,
.course__table tr td a {
    display: block;
    width: 100%;
    text-align: center;
    color: #3e474f;
}

.course__table tr th {
    font-size: 13px
}

.course__table tr td.success {
    background-color: #96ff8e;
}

.course__table tr td.process {
    background-color: #fdffcf;
}

.course__table tr td.user-col {
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100px;
}

.course__table tr td.score-col {
    padding: 0 5px
}


/* tables */
.groups-table tr.success {
    background-color: #96ff8e;
}
.groups-table tr {
    cursor: pointer;
}

/*#id_editor {*/
/*position: relative;*/
/*width:570px;*/
/*height: 200px;*/
/*border: solid 1px #eeeeee;*/
/*}*/

/*#id_input, #id_output {*/
/*position: relative;*/
/*width:280px;*/
/*height: 100px;*/
/*border: solid 1px #eeeeee;*/
/*}*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #edeff0;
    height: 100%;
    min-width: 320px;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

body > * {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

pre {
    width: 100%;
}

/* top menu */

.top-nav {
    background: #3e474f;
    box-shadow: 0 0 1px rgba(0, 65, 94, 0.2);
    transition: height 600ms 0s ease;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
}

.top-nav > .container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.top-nav .logo-container {
    width: auto;
    border-right: 2px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

.top-nav .logo-desc {
    width: 200px;
    position: relative;
    display: block;
    white-space: normal;
    font-size: 14px;
    line-height: 1.1;
    text-align: left;
}

.top-nav .top-nav-left {
    display: flex;
    justify-content: flex-start;
}

.top-nav .top-nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-nav .top-menu-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-left: 30px;
}

.top-nav a {
    font-weight: bold;
    font-size: 20px;
    color: #b2bbbd;
    transition: color 200ms 0s ease, padding 200ms 0s ease, border 200ms 0s ease, background-color 200ms 0s ease;
}

.top-nav .logo-container a {
    color: #5fcf80;
    font-size: 40px;

}

.top-nav a:hover {
    color: #fff;
    text-decoration: none;
}

.top-nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
}

.top-nav ul li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    white-space: pre;
    margin-right: 30px;
}

.top-nav .username {
    font-size: 20px;
}

.top-nav .profile {
    border: solid 2px #5fcf80;
    border-radius: 4px;
    padding: 5px 12px;
    margin: 10px;
    color: #5fcf80 !important;
}

.top-nav .profile:hover {
    border-color: #fff;
    color: #fff !important;
}


.top-nav.menu {
    padding: 5px 0;
}

.top-nav.menu .container {
    justify-content: center;
    align-items: center;
}

/* breadcrumbs */

.breadcrumb {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    color: #576366;
    font-weight: bold;
    background: inherit;
    margin-bottom: 15px;

}

.breadcrumb .arrow-svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    display: inline-block;
}

.breadcrumb:hover {
    color: #c25975;
}

.breadcrumb:hover > .arrow-svg .background {
    /*fill: #c25975;*/
}

/* end breadcrumbs */

/* content */
main {
    padding: 0;
    margin: 0 0 50px 0;
}

.main ul {
    padding-left: 21px;
    margin: 22px 0;
}

main .content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

.left-col,
.right-col,
.one-col {
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
    flex: 1 0 auto;
}

.coutses-about {
    font-size: 16px;
    margin: 0;
    padding: 15px 99px;
}

.one-col {
    text-align: center;
}

.left-col {
    width: calc(100% - 370px);
    margin-right: 20px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1)
}

.right-col {
    width: 350px;
    height: 100%;
}

.one-col {
    width: 100%;
    margin-right: 20px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1)
}

/* courses root */
.course-item-content {
    position: relative;

}

.course-item-content:first-child {
    padding: 10px 20px;

}

.course-item-content .title {
    margin-bottom: 10px;
    position: relative;
}

.course-item-content .desc {
    color: #7b8b8e;
    max-height: 125px;
    overflow-y: hidden;
    margin-bottom: 10px;
    font-size: 12pt;
    font-weight: 400;
    position: relative;
    line-height: 22px;
    font-style: italic;
}

.course-item-author {
    position: relative;
    padding: 10px 10px 10px 40px;
    background: url('../img/author.png') #5fcf80 no-repeat 10px center;
    color: #dfecef;
    font-weight: bold;

}

.course-item {
    position: relative;
    width: 32%;
    height: 250px;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 65, 94, 0.2);
    transition: height 600ms 0s ease;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    justify-content: space-between;
    margin: 0 11px 15px 5px;

}

.courses {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}

.courses .course-item {
    margin: 0 0 15px 0;
    width: 230px;
}

.courses-container a {
    transition: color 200ms 0s ease, padding 200ms 0s ease, border 200ms 0s ease, background-color 200ms 0s ease;
}

.courses-container a:hover {
    text-decoration: none;
}

/* news */

.news .one-col {
    margin-bottom: 15px;
    padding: 20px

}

.news-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.new-image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.new-image img {
    width: auto;
    height: 100%
}

.new-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    width: calc(100% - 150px);
}

.new-item-title {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.new-date {
    color: grey;
    font-size: 14px;
}

.new-content {
    text-align: left;
    white-space: normal;
}

/* Fp */

.fp-title {
    font-weight: 600;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.fp-content {
    text-align: left;
    margin-bottom: 15px;
    position: relative;
}

.fp-content h3 {
    font-weight: 600;
    margin-bottom: 15px;
}

.fp-content h4 {
    font-weight: 600;
    margin-bottom: 10px
}

.fp-container {
    display: flex;
    position: relative;
    width: 100%;
}

.fp-left-col {
    max-width: 800px;
    width: calc(100% - 200px);
    flex: 1 0 auto;
}

.fp-right-col {
    min-width: 200px;
    height: auto;
    position: relative;
}

.fp-help-text {
    color: #82b915;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    width: 100%;
    max-width: 200px;
    z-index: 10;
}

.fp-help-text.red {
    color: #b01b21;
}

.fp-help-text + img {
    width: 64px;
    position: absolute;
    z-index: 10;
}

.fp-help-1 {
    top: 154px;
    left: 15px;
}

.fp-help-1 + img {
    top: 208px;
    left: -40px;
}

.fp-help-2 {
    top: 285px;
    left: 386px;
    max-width: 300px;

}

.fp-help-2 + img {
    top: 312px;
    left: 320px;
}

.fp-help-3 {
    top: 400px;
    right: -209px;
}

.fp-help-3 + img {
    top: 424px;
    right: -22px;
}

.fp-help-4 {
    top: 430px;
    right: -176px;
    width: 150px;
}

.fp-help-5 {
    top: 616px;
    right: -210px;
}

.fp-help-5 + img {
    top: 640px;
    right: -28px
}

.fp-help-6 {
    top: 216px;
    right: -210px;
}

.fp-help-6 + img {
    top: 240px;
    right: -5px;
}

/* command */

.command {
    width: 100%;
}

.command img {
    height: 280px;
    width: auto;
    margin-right: 25px;
}

.command img:last-child {
    margin-right: 0;
}

.command .one-col {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
}

/* course item */

.course-topics {
    position: relative;
    transition: height 600ms 0s ease;
    margin: 40px 9px 40px 9px;
    -webkit-columns: 200px 3;
    columns: 200px 3;

}

.topic-item {
    text-align: left;
    margin: 0px;
    padding: 9px;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;

}

.topic-item-title a {
    display: inline-block;
    color: #333131;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

.topic-item-title a:after {
    background-color: #333131;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.topic-item-title a:hover:after,
.topic-item-title a:focus:after {
    width: 100%;
}

.topic-item-content p {
    margin: 12px 0;
}

.topic-item-list {
    margin: 10px -19px;
    line-height: 18px
}

.main ul.topic-item-list {
    margin: 0px;
    list-style: none;

}

.topic-item-list-child a {
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.topic-item-list-child a:hover {
    color: #800000; /*  Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
}


/*navigation*/


.right-col ul {
    list-style: none;
    margin: 0;
}

.right-col ul {
    padding-left: 0;
}

.right-col li {
    padding-left: 20px;
}

.right-col > ul > li {
    padding-left: 0;
}

.right-col li a {
    display: block;
    font-size: 15px;
    color: #576366;

}

.right-col a:hover {
    color: #c25975;
    text-decoration: underline;
}

.right-col .active {
    color: #576366;
    text-decoration: none;
    font-weight: bold;
}

/* footer */

.footer-nav {
    border-top: 1px solid #e2e5e8;
    color: #8d9aa5;
    padding: 20px 0 50px;
    display: flex;
    justify-content: space-between;
}

.footer-nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav ul li {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    white-space: pre;
    margin-right: 30px;

    line-height: 25px;
    font-weight: 500;
    font-size: 14px;

}

.footer-nav a {
    color: #b2bac2;
}

.footer-nav a:hover {
    color: #5fcf80;
}

.footer-nav .copyright {
    text-align: right;
}

.footer-nav-title {
    margin-bottom: 15px;
    font-weight: 500;
    color: #8d9aa5;
    font-size: 16px;
}

/* user solution*/

.solution-info {
    margin-bottom: 20px;
}

.solution-info td {
    padding: 0 20px 5px 0;
}

.subtitle {
    margin-bottom: 10px;
}

.solution-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.solution-progress {
    font-size: 100px;
    color: #3e474f;
    font-weight: 500;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, .1), -1px 1px 1px rgba(0, 0, 0, .1), 1px 1px 1px rgba(0, 0, 0, .1), 1px -1px 1px rgba(0, 0, 0, .1);

}

.solution-progress.success {
    color: #96ff8e;
}

.solution-progress.process {
    color: #f7ff4b;
}

.solution-progress.unluck {
    color: #ffae95;
}

ul.messages li {
    display: block;
    font-weight: 400;
    padding: 10px 10px 10px 30px;
    margin: 0 0 5px -40px;
    background: #f6f7fa;
    color: #6c757d;
}

li.info {
    background: #d9edf7 !important;
    color: #17a2b8 !important;
}

li.success {
    background: #dff0d8 !important;
    color: #28a745 !important;
}

li.warning {
    background: #fcf8e3 !important;
    color: #ffc107 !important;
}

li.error {
    background: #f2dede !important;
    color: #dc3545 !important;
}

.auth-form {
    padding: 30px;
    border-radius: 10px;
    border: solid #9da3ad;
}

.form-group input:not([type=checkbox]):not([type=radio]) {
    padding: 5px;
    margin: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}

.form-group input:not([type=checkbox]):not([type=radio]):focus {
    border-color: #9da3ad;
}

.auth-form button[type=submit] {
    padding: 5px 15px;
    color: #3e474f;
    font-size: 20px;
    display:block;
    margin: 0 auto;
    cursor: pointer;
    background: #5fcf80;
    border: solid 2px;
    border-radius: 8px;

}

/* tests */

.tests_container {
    overflow-x: auto;
    width: 100%;
}