{% extends "base.html" %}

{% block main %}
    <div class="container">
        <div class="row">
            {# breadcrumbs #}
        </div>
        <div class="row content">
            <div class="left-col">
                <h1 class="text-center">Решение</h1>
                <div class="solution-info-container">
                    <div>
                        {% include 'executors/python36/includes/solution_info_table.html' %}
                    </div>
                    <div class="solution-progress {{ solution.css_class }}">
                        {{ object.progress }}%
                    </div>
                </div>
                {% if treeitem_title %}
                    <h4 class="subtitle">Условие:</h4>
                    {{ treeitem_content|safe }}
                {% endif %}

                <h4 class="subtitle">Код решения:</h4>


                <form method="POST" id="editor-form" class="editor-form mt-2 mb-3" action="">

                    {% include 'executors/ace/widget.html' with field=form.content %}
                    <br>

                    {% if tests_result %}
                        <div class="row tests-title">
                            <h4 class="subtitle" >Результаты тестов:</h4><br>
                        </div>
                        <div class="row ace-container ace-tests">
                            {% include 'executors/python36/tests_result.html' %}
                        </div>
                    {% endif %}
                </form>
            </div>
            <div class="right-col">
                <h1 class="">Итория решения</h1>
                <hr>
                <table class="solution-info">
                    <tr>
                        <td><h5>Попыток:</h5></td>
                        <td>{{ object.details.solutions|length }}</td>
                    </tr>
                    <tr>
                        <td><h5>Первая:</h5></td>
                        <td>{{ object.details.solutions.0.datetime|slice:":18" }}</td>
                    </tr>
                    <tr>
                        <td><h5>Последняя:</h5></td>
                        <td>{{ object.details.solutions.pop.datetime|slice:":18" }}</td>
                    </tr>
                </table>
                <div> </div>
            </div>
        </div>
    </div>

    <link href="/static/css/ace/ace.css" type="text/css" media="all" rel="stylesheet" />
    <script src="/static/js/ace/ace_editor_v1.3.2.js"></script>
    <script src="/static/js/ace/ace_init.js"></script>
    <script src="/static/js/ace/mode_python.js"></script>
    <script src=/static/js/prism.js></script>
{% endblock %}



