<form method="POST" id="editor-form-{{ code_num }}" class="editor-form mt-2 mb-3"
      action="{% url 'execute' %}" data-tests-action="{% url 'check_tests' %}"
      data-code_num="{{ code_num }}" data-code_id="{{ code_id }}">

    {% csrf_token %}

    {% if code_solved %}
        <input type="hidden" name="code_solved" value="True">
    {% endif %}

    {{ form.media }}

    <div class="ace-control-bar">
        <input class="run-button" type="submit" value=""
               onclick="ace_ajax.submit($('#editor-form-{{ code_num }}'));return false;"/>
    </div>
    {% if show_input %}
        {% include 'executors/ace/widget.html' with field=form.input %}
    {% endif %}
    {% include 'executors/ace/widget.html' with field=form.content %}
    {% if form.output.value %}
        {% include 'executors/ace/widget.html' with field=form.output %}
    {% endif %}
    {% if form.error.value %}
        {% include 'executors/ace/widget.html' with field=form.error %}
    {% endif %}

    {% if show_tests and tests %}
        <div class="row tests-title">
            <span >Тесты</span>
            {% if code_solved %}
                <span class="success_bar">Есть успешное решение</span>
            {% endif %}
        </div>
        <div class="row ace-container ace-tests">
            <div class="ace-control-bar">
                <input class="run-button" type="submit" value=""
                       onclick="ace_ajax.check_tests($('#editor-form-{{ code_num }}'));return false;"/>
            </div>

            {% if tests_result %}
                {% include 'executors/python36/tests_result.html' %}
            {% elif tests %}
                {% include 'executors/python36/tests.html' %}
            {% endif %}
        </div>
    {% endif %}
</form>


