{% if code_solved %}
    Задача решена! Станцуй Джигу!
{% endif %}

<form method="POST" id="editor-form-{{ code_num }}" class="editor-form container mt-2 mb-3"
      action="{% url 'execute' %}" data-tests-action="{% url 'check_tests' %}"
      data-code_num="{{ code_num }}" data-code_id="{{ code_id }}">

    {% csrf_token %}
    {{ form.media }}

    <div class="ace-control-bar">
        <input class="run-button" type="submit" value=""
               onclick="ace_ajax.submit($('#editor-form-{{ code_num }}'));return false;"/>
    </div>

    {% include 'ace/widget.html' with field=form.input %}
    {% include 'ace/widget.html' with field=form.content %}
    {% if form.output.value %}
        {% include 'ace/widget.html' with field=form.output %}
    {% endif %}
    {% if form.error.value %}
        {% include 'ace/widget.html' with field=form.error %}
    {% endif %}

    {% if tests or tests_result %}
    <div class="row ace-container ace-tests">
        <label class="tests-title">Тесты</label>
        <div class="ace-control-bar">
            <input class="run-button" type="submit" value=""
                   onclick="ace_ajax.check_tests($('#editor-form-{{ code_num }}'));return false;"/>
        </div>

        {% if tests_result %}
            {% include 'executors/python36/tests_result.html' %}
        {% elif tests %}
            {% include 'executors/python36/tests.html' %}
        {% endif %}
    </div>
    {% endif %}
</form>


