{% extends 'left-right-col.html' %}

{% block title %}{{ group.name }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
    <a class="breadcrumb" href="/groups/">
        {% include 'includes/svg/arrow-left.svg' %}
        <span>Группы</span>
    </a>
{% endblock %}

{% block content_title %}{{ group.name }}{% endblock %}

{% block content %}
    <div class="row" >
        <div class="col-lg-6">
            <p>
                {% if group.status %}
                    {{ group.status }}
                {% else %}
                    Статуса нет.
                {% endif %}
            </p>
            <p>
                <i>От {{ group.changed_status }}</i>
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                Владелец(ы): {{ group.get_owners_usernames }}<br>
                Участников: {{ group.get_members_number }}
            </p>
            <p>
                <i>Создана {{ group.created_at }}</i>
            </p>
        </div>
    </div>

    {% if courses %}
        <h3>Курсы</h3><br>
        <ul>
            {% for course in courses %}
                <li>
                    {% if is_member %}
                        <a href="{{ course.url }}">{{ course.title }}</a>
                    {% else %}
                        <span>{{ course.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}

    <!--ROOT/OWNER-->
    {% if members %}
        <h3>Список участников</h3><br>
        <table class="table">
            <thead>
            <tr>
                <th>№</th>
                <th>Псевдоним</th>
                <th>ФИО</th>
                <th>Последний раз был</th>
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ member.username }}</td>
                    <td>{{ member.first_name }} {{ member.last_name }}</td>
                    <td>{{ member.last_login }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Участников нет.</p>
    {% endif %}

    {% if position != group.NONE or group.state != group.CLOSE %}
        <!--ROOT/-/NONE-->
        {% if modules_data %}
            <table class="table table-hover">
                <caption>Список олимпиад</caption>
                <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Таймер</th>
                    <th>Задач</th>
                </tr>
                </thead>
                <tbody>
                {% for data in modules_data %}
                    {% if data.state != data.HIDE or position == group.OWNER %}
                        {% if data.is_active or position == group.OWNER %}
                            <tr onclick="window.location.href='{% url "groups:module_progress" data.group.id data.module.id %}'">
                        {% else %}
                            <tr class="tr-close">
                        {% endif %}
                            <td>{{ forloop.counter }}</td>
                            <td>{{ data.module.name }}</td>
                            <td>{{ data.get_state }}</td>
                            <td>{{ data.module.treeitems.count }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% else %}
        <p>Группа закрыта.</p>
    {% endif %}
{% endblock %}

{% block right-col %}
<div class="right-col">
    <h1>Управление</h1>
    <hr>
    <ul class="list-unstyled">
        {% if position >= group.OWNER %}
            <!--ROOT/OWNER-->
            <li><a href="{% url 'admin:groups_group_change' group.id %}">Изменить группу</a></li>
            <li><a href="{% url 'groups:progress' group.id %}">Показать прогресс</a></li>
            <li><a href="{% url 'admin:groups_group_history' group.id %}">Показать историю</a></li>
            <hr>
            {% if position == group.ROOT %}
                <li><a href="{% url 'admin:groups_group_delete' group.id %}">Удалить группу</a></li>
            {% else %}
                <form action="{% url 'groups:join' group.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn" value="Уйти из группы" />
                </form>
            {% endif %}
        {% elif position == group.MEMBER %}
            <!--MEMBER-->
            <form action="{% url 'groups:join' group.id %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn" value="Уйти из группы" />
            </form>
        {% elif group.state != group.CLOSE %}
            <!--NONE-->
            <div class="row">
                <form action="{% url 'groups:join' group.id %}" method="post">
                    {% csrf_token %}
                    {% if group.state == group.CODE %}
                        <input type="password" id="codeword" name="codeword" placeholder="Введите кодово слово" autofocus />
                        <input type="submit" class="btn btn-primary" value="Ввод" />
                    {% else %}
                        <input type="submit" class="btn btn-primary" value="Вступить в группу" />
                    {% endif %}
                </form>
            </div>
        {% else %}
            <li><a href="{% url 'groups:groups' %}">Вернуться к группам</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
