{% extends 'left-right-col.html' %}

{% block title %}{{ group.name }}{% endblock %}

{% block content_title %}{{ group.name }}{% endblock %}

{% block breadcrumbs %}{{ block.super }}
    <a class="breadcrumb" href="/groups/">
        {% include 'includes/svg/arrow-left.svg' %}
        <span>Группы</span>
    </a>
    <a class="breadcrumb" href="/groups/{{ group.id }}/">
        {% include 'includes/svg/arrow-left.svg' %}
        <span>{{ group.name }}</span>
    </a>
{% endblock %}

{% block content %}
    <h4>Результаты по курсу {{ course.title }}</h4>
    <div class="row group__courses">
        {% if course_data %}
            <div class="course__loader">
                <div class="course__loader-text">
                    <div class="h1" id="percents"></div>
                    <small>Загрузка</small>
                </div>
                <svg class="hourglass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 206" preserveAspectRatio="none">
                    <path class="middle" d="M120 0H0v206h120V0zM77.1 133.2C87.5 140.9 92 145 92 152.6V178H28v-25.4c0-7.6 4.5-11.7 14.9-19.4 6-4.5 13-9.6 17.1-17 4.1 7.4 11.1 12.6 17.1 17zM60 89.7c-4.1-7.3-11.1-12.5-17.1-17C32.5 65.1 28 61 28 53.4V28h64v25.4c0 7.6-4.5 11.7-14.9 19.4-6 4.4-13 9.6-17.1 16.9z"/>
                    <path class="outer" d="M93.7 95.3c10.5-7.7 26.3-19.4 26.3-41.9V0H0v53.4c0 22.5 15.8 34.2 26.3 41.9 3 2.2 7.9 5.8 9 7.7-1.1 1.9-6 5.5-9 7.7C15.8 118.4 0 130.1 0 152.6V206h120v-53.4c0-22.5-15.8-34.2-26.3-41.9-3-2.2-7.9-5.8-9-7.7 1.1-2 6-5.5 9-7.7zM70.6 103c0 18 35.4 21.8 35.4 49.6V192H14v-39.4c0-27.9 35.4-31.6 35.4-49.6S14 81.2 14 53.4V14h92v39.4C106 81.2 70.6 85 70.6 103z"/>
                </svg>
            </div>
            <div class="col-lg-2 col-md-2 course__head">
                <table class="course__table">
                    {% for id, member in course_data.members_col.items %}
                        <tr id="member-{{ id }}">
                            <td title="{{ member.title }}" class="user-col" >{{ member.name }}</td>
                            <td class="score-col" >{{ member.score }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-lg-10 col-md-10 course__tables" data-group="{{ group.id }}" data-course="{{ course.id }}" data-themes="{{ themes_ids }}">
            {% for table in course_data.tables %}
                {% include 'groups/includes/group_course_table.html' %}
            {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>

        var tables = document.querySelector('.course__tables')
        var themes_ids = JSON.parse(tables.getAttribute('data-themes'))
        var group_id = tables.getAttribute('data-group')
        var course_id = tables.getAttribute('data-course')
        var percents = Array('100%')
        var step = Math.floor(100 / (themes_ids.length + 1));
        for(var i=themes_ids.length; i > 0; i--){
            percents.push(step * i + '%')
        }

        hideLoader = function(){
            document.querySelector('.course__loader').classList.add('hide')
        }

        var updateLoader = function(){
            document.querySelector('#percents').innerHTML = percents.pop()
        }

        var loadTheme = function(){
            let theme_id = themes_ids.pop()
            let promise = fetch(`/groups/${group_id}/courses/${course_id}/themes/${theme_id}/`)
            promise.then(
                (response) => {
                    response.json().then(function(data) {
                        var div = document.createElement('div');
                        div.innerHTML = data.table;
                        while (div.children.length > 0) {
                          tables.appendChild(div.children[0]);
                        }

                        for(const [id, value] of Object.entries(data.members_col)) {
                            var memberScore = document.querySelector(`#member-${id} .score-col`)
                            memberScore.innerHTML = (parseInt(memberScore.innerHTML.trim()) + value.score)
                        }

                        updateLoader()
                        if(themes_ids.length){
                            loadTheme()
                        } else {
                            hideLoader()
                        }
                    });
                },
                (error) => {console.log(error)}
            )
        }
        updateLoader()
        loadTheme()

    </script>
{% endblock %}