{% extends 'groups/base.html' %}

{% block title %}{{ group.name }}{% endblock %}
{% block content_title %}{{ group.name }}{% endblock %}
{% block content %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <div class="row" >
        <div class="col-lg-6">
            <p>
                {% if group.status %}
                    {{ group.status }}
                {% else %}
                    Статуса нет.
                {% endif %}
            </p>
            <p>
                <i>От {{ group.changed_status }}</i>
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                Владелец(ы): {{ group.get_owners_usernames }}<br>
                Участников: {{ group.get_members_number }}
            </p>
            <p>
                <i>Создана {{ group.created_at }}</i>
            </p>
        </div>
    </div>

    {% if position %}
            {% if position == group.OWNER %}
                <!--владелец-->
                <div class="row">
                    <form action="{% url 'groups:progress' group.id %}">
                        <input type="submit" class="btn btn-primary" value="Progress" />
                    </form>
                    <form action="{% url 'admin:groups_group_change' group.id %}">
                        <input type="submit" class="btn btn-primary" value="Change" />
                    </form>
                    <form action="{% url 'admin:groups_group_history' group.id %}">
                        <input type="submit" class="btn" value="History" />
                    </form>
                    <form action="{% url 'admin:groups_group_delete' group.id %}">
                        <input type="submit" class="btn" value="Delete" />
                    </form>
                </div>

                {% if members %}
{#                    <table class="table table-hover">#}
                    <table class="table">
                        <caption>Список участников</caption>
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Псевдоним</th>
                            <th>ФИО</th>
                            <th>Последний раз был</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for member in members %}
{#                            <tr onclick="window.location.href='{% url "profile:profile" member.id %}'">#}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ member.username }}</td>
                                <td>{{ member.first_name }} {{ member.last_name }}</td>
                                <td>{{ member.last_login }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Участников нет.</p>
                {% endif %}
            {% else %}
                <!--участник-->
                <div class="row">
                    <form action="{% url 'groups:join' group.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn" value="Leave" />
                    </form>
                </div>
            {% endif %}

        {% if modules_data %}
            <table class="table table-hover">
                <caption>Список модулей</caption>
                <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Таймер</th>
                    <th>Задач</th>
                </tr>
                </thead>
                <tbody>
                {% for data in modules_data %}
                    {% if data.state != data.HIDE or position == group.OWNER %}
                        {% if data.is_active or position == group.OWNER %}
                            <tr onclick="window.location.href='{% url "groups:module_progress" data.group.id data.module.id %}'">
                        {% else %}
                            <tr class="tr-close">
                        {% endif %}
                            <td>{{ forloop.counter }}</td>
                            <td>{{ data.module.name }}</td>
                            <td>{{ data.get_timer }}</td>
                            <td>{{ data.module.treeitems.count }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Модулей нет.</p>
        {% endif %}

    {% elif group.state != group.CLOSE%}
        <!--гость-->
        <div class="row">
            <form action="{% url 'groups:join' group.id %}" method="post">
                {% csrf_token %}
                {% if group.state == group.CODE %}
                    <input autofocus type="password" id="codeword" name="codeword" placeholder="Введите кодово слово"/>
                {% endif %}
                <input type="submit" class="btn btn-primary" value="Join!" />
            </form>
        </div>
    {% else %}
        <p>Группа закрыта.</p>
    {% endif %}
{% endblock %}
