<table class="table groups-table table-hover">
    <thead>
        <tr>
            <th>Название</th>
            <th>Владелец</th>
            <th>Состояние</th>
            <th>Участников</th>
        </tr>
    </thead>
    <tbody>
    {% for group in groups %}
        <tr {% if request.user in group.members.all %}class="success"{% endif %} onclick="window.location.href='{% url "groups:group" group.id %}'">
            <td>{{ group.name }}</td>
            <td>{{ group.get_root_username }}</td>
            <td>{{ group.get_state }}</td>
            <td>{{ group.get_members_number }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>