{% extends 'left-right-col.html' %}

{% block title %}Мои группы{% endblock %}

{% block content_title %}Мои группы{% endblock %}

{% block content %}
    {% if groups or ownership%}
        {% include 'groups/list_groups.html' %}
    {% else %}
        <p>Групп нет.</p>
    {% endif %}
{% endblock %}

{% block right-col %}
<div class="right-col white">
    <h1>Управление</h1>
    <hr>
    <ul class="list-unstyled">
        <form action="{% url 'groups:my_groups' %}">
            <input type="text" id="search" name="search" placeholder="Введите название" autofocus
                   value="{% if request.GET.search %}{{ request.GET.search }}{% endif %}" />
            <input type="submit" class="btn btn-primary" value="Поиск" />
        </form>
        <hr>
        <li><a href="{% url 'admin:groups_group_add' %}">Добавить группу</a></li>
        <li><a href="{% url 'admin:groups_group_changelist' %}">Редактировать группы</a></li>
    </ul>
</div>
{% endblock %}
