{% extends 'groups/group.html' %}

{% block content %}
    {% if tables %}
        {% for table in tables %}
            <div class="mb-5">
                <h3>{{ table.caption }}</h3>
                {% include 'groups/table_progress.html' %}
            </div>
        {% endfor %}
    {% else %}
        <p>Прогресса нет.</p>
    {% endif %}
{% endblock %}

{% block right-col %}
    <h1>Управление</h1>
    <hr>
    <ul class="list-unstyled">
        <li><a href="{% url 'groups:group' group.id %}">Вернуться в группу</a></li>
    </ul>
{% endblock %}
