<table class="table-bordered progress-table">
    <thead>
        <tr>
        {% for th in table.thead.values %}
            <th>
                {% if forloop.first %}
                    <span>{{ th.text }}</span>
                {% else %}
                    <a target="_blank" href="{{ th.url }}">{{ th.text }}</a>
                {% endif %}
            </th>
        {% endfor %}
        </tr>
    </thead>

    <tbody>
    {% for tr in table.tbody %}
        <tr>
        {% for td in tr.values %}
            {% if forloop.first %}
                <td>
                    {{ td.text }}
                </td>
            {% else %}
                <td class="{{ td.class }}">
                   <a target="_blank" href="{{ td.url }}">{{ td.text }}</a>
                </td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<br/>