</ul>
<ul  class="list-unstyled">
    {% for course in  menu %}
    <li><a href="{{course.url}}"> {{course.title}}</a></li>
        <ul>
            {% for topic in course.topics %}
            <li><a href="{{topic.url}}">{{topic.title}}</a></li>
                <ul>
                    {% for task in topic.tasks %}
                    <li> <a href="{{task.url}}">{{task.title}}</a></li>
                     {% endfor %}
                </ul>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>