<ul  class="list-unstyled">
    <li><a href="#">Курсы</a>
        <ul>
            <li>Тема 1</li>
                <ul>
                     <li><a href="#">Задача 1</a></li>
                     <li>Задача 2</li>
                     <li>Задача 3</li>

                 </ul>
            <li>Тема 2</li>
                <ul>
                     <li>Задача 1</li>
                     <li>Задача 2</li>
                     <li>Задача 3</li>

                 </ul>


        </ul>
    </li>
    <li><a href="#">Python</a></li>
        <li><a href="#">Условия</a></li>
             <li><a href="#">«Площадь прямоугольного треугольника»</a></li>
             <li><a href="#">«Знак числа»</a></li>
         <li><a href="#">Ввод и вывод данных</a></li>
             <li><a href="#">«Сумма трёх чисел»</a></li>
</ul>
