{% load training_tags %}

<form
    class="editor-form js__editor-form"
    data-autosave="false"
    data-readonly="{% if obj.readonly %}true{% else %}false{% endif %}"
    data-translator="{{ form.translator.value }}"
    data-db-name="{{ form.db_name.value }}"
>

    {% show_ace_field form.content %}

    {% if obj.show_debug %}
        <div class="control__bar">
            <div class="control__bar-col col__1"></div>
            <div class="control__bar-col col__2">
                <div class="js__editor-btn js__editor-btn-debug" title="Отладка"></div>
            </div>
            <div class="control__bar-col col__3">
                <span class="js__msg js__msg-loader-text"></span>
                <span class="js__msg js__msg-loader">
                    <span class="pulse"><span>{</span><span>}</span></span>
                </span>
                <span class="js__msg js__msg-success"></span>
                <span class="js__msg js__msg-warning"></span>
                <span class="js__msg js__msg-error"></span>
            </div>
        </div>

        {% if obj.show_input %}
           {% show_ace_field form.input %}
        {% endif %}

        {% show_ace_field form.output %}

        {% show_ace_field form.error %}

    {% endif %}

</form>