{% extends 'base.html' %}

{% block content %}
<div class="center-col" xmlns="http://www.w3.org/1999/html">
        <h1 class="text-center">Регистрация</h1>
        <form class="signup__form white {% if form.errors %}error{% endif %}" method="POST">
            {% csrf_token %}
            {{ form.next }}
            {{ form.username }}
            {{ form.email }}
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.password1 }}
            {{ form.password2 }}
            <small class="msg">
                {% for error in form.non_field_errors %}
                    <div>{{ error }}</div>
                {% endfor %}
                {% for error in form.password2.errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </small>
            {% if confirm_signup %}
                <small class="text-center">
                    Модератор сайта проверит вашу заявку,</br>
                    после этого Вы сможете авторизоваться на сайте
                </small>
            {% endif %}
            <input type="submit" class="btn btn-primary" value="Зарегистрироваться">
            <a class="signup__link" href="{{ signin_path }}">Войти</a>
        </form>
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}