{% extends 'training/base.html' %}
{% load static taskitem_tags training_tags %}


{% block content %}
    <div class="one-col">
        <div class="white fp-content">
            <h1 class="text-center">
                <span>{{ object.numbered_title }}</span>
            </h1>
            <h3>Условие</h3><br/>
            {{ object.task.content|safe }}

            <p>
            {% if object.manual_check %}
                <div class="text-small">Оценку выставляет преподаватель (по шкале от 0 до {{ object.max_score }} баллов)</div>
            {% else %}
                <div  class="text-small">Оценка выставляется на основании пройденных тестов (по шкале от 0 до {{ object.max_score }})</div>
                {% if solution.status and solution.status != '0' %}
                    <div class="text-small">Статус: {{ solution.status_name }}</div>
                    <div class="text-small">Оценка: {{ solution.score|cut_zero }} баллов</div>
                {% endif %}
            {% endif %}
            {% if object.topic.end_time %}
                <div class="text-small" title="Решения после указанной даты не засчитывается">
                    <span>Ограничение по времени:</span>
                    <span class="js__utc-time" data-utc-time="{{ object.topic.end_time|date:'Y-m-d H:i:s.u'}}"></span>
                </div>
            {% endif %}
            </p>

            <form method="POST" class="editor-form js__editor-form">

                {% csrf_token %}

                <input class="js__{{ form.lang.name }}" type="hidden" name="lang" value="{{ form.lang.value }}">

                {% if object.compiler_check %}
                    {% show_ace_field form.input %}
                {% endif %}

                {% show_ace_field form.content %}

                <div class="control__bar taskitem">
                    <div class="control__bar-col col__1">
                        {% if request.user.is_active %}
                            <div class="js__editor-btn js__editor-btn-ready {% if object.one_try %}js__confirm{% endif %} {% if solution and solution.manual_status != '0' %}disabled{% endif %}" title="Отправить решение"></div>
                            <div class="js__editor-btn js__editor-btn-versions {% if not solution %} not-versions{% endif %}"
                                 title="Страница решения"
                                 onclick="window.open('{{ object.get_absolute_url }}solution/?user={{ request.user.id }}', '_blank')"
                            ></div>
                            <div class="js__editor-btn js__editor-btn-version" title="Создать версию решения"></div>
                            <div class="js__editor-btn js__editor-btn-save {% if solution and solution.manual_status != '0' %}disabled{% endif %} " title="Сохранить изменения"></div>
                        {% endif %}
                    </div>

                    {% if object.compiler_check %}
                    <div class="control__bar-col col__2">
                        {% if object.task.tests %}
                            <div class="js__editor-btn js__editor-btn-tests" title="Протестировать решение"></div>
                            <div class="js__editor-btn js__editor-btn-debug" title="Отладка"></div>
                        {% else %}
                            <div class="js__editor-btn js__editor-btn-debug" title="Отладка"></div>
                        {% endif %}
                    </div>
                    {% endif %}

                    <div class="control__bar-col col__3">
                        <span class="js__msg js__msg-loader-text"></span>
                        <span class="js__msg js__msg-loader">
                            <span class="pulse"><span>{</span><span>}</span></span>
                        </span>
                        <span class="js__msg js__msg-success"></span>
                        <span class="js__msg js__msg-warning"></span>
                        <span class="js__msg js__msg-error"></span>
                    </div>
                </div>

                {% show_ace_field form.output %}

                {% show_ace_field form.error %}

            </form>
        </div>
        {% if object.compiler_check and object.task.tests %}
            <div class="fp-content">
                <h3>Тесты</h3>
            </div>
            <div class="white fp-content">
                <div class="form__tests-container">
                    <table class="js__form__tests-table" id="form__tests-table">
                        <thead>
                        <tr>
                            <th class="form__test-counter">№</th>
                            <th class="form__test-input">Консольный ввод</th>
                            <th class="form__test-output">Правильный ответ</th>
                            <th class="js__form__test-result"></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for test in object.task.tests %}
                            <tr class="js__form__test-{{ forloop.counter0 }}">
                                <td class="form__test-counter"><div>{{ forloop.counter }}</div></td>
                                <td class="form__test-input"><pre>{{ test.input }}</pre></td>
                                <td class="form__test-output"><pre>{{ test.output }}</pre></td>
                                <td class="js__form__test-result"><pre></pre></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>window.dispatchEvent(new Event('taskItemPageLoaded'))</script>
{% endblock %}