{% extends "base_pagination.html" %}

{% block main %}
    <div class="container">
        <div class="row">
            {% block breadcrumbs %}{% endblock %}
        </div>

        <div class="row content">
            <div class="left-col">
                <h1>{% block content_title %}{% endblock %}</h1>
                {% block content %}{% endblock %}
            </div>

            <div class="right-col">
                <h1>Навигация</h1>
                <hr>
                <ul class="list-unstyled">
                    <li><a href="{% url 'modules:my_modules' %}">Мои модули</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
