{% extends "base_pagination.html" %}

{% block title %}Модули{% endblock %}
{% block content_title %}Модули{% endblock %}

{% block sidebar %}
    <ul  class="list-unstyled">
        <li>
            <a href="{% url 'groups:my_groups' %}">Мои группы</a> |
            <a href="{% url 'groups:groups' %}">Группы</a>
        </li>
        <li>
            <a href="{% url 'modules:my_modules' %}">Мои модули</a> |
            <a href="{% url 'modules:modules' %}">Модули</a>
        </li>
    </ul>
{% endblock %}