{% extends 'modules/base.html' %}

{% block title %}Модули{% endblock %}
{% block content_title %}Модули{% endblock %}
{% block content  %}
    {% if my_modules %}
        <div class="row">
            <form action="{% url 'admin:modules_module_add' %}">
                <input type="submit" class="btn btn-primary" value="Add" />
            </form>
            <form action="{% url 'admin:modules_module_changelist' %}">
                <input type="submit" class="btn" value="Edit" />
            </form>
        </div>
    {% endif %}

    {% if modules %}
        <table class="table table-hover">
            <caption>Список модулей</caption>
            <thead>
            <tr>
                <th>Название</th>
                <th>Владелец</th>
                <th>Задач</th>
            </tr>
            </thead>
            <tbody>
            {% for module in modules %}
                <tr onclick="window.location.href='{% url "modules:module" module.id %}'">
                    <td>{{ module.name }}</td>
                    <td>{{ module.owner.username }}</td>
                    <td>{{ module.treeitems.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Модулей нет.</p>
    {% endif %}
{% endblock %}
