{% extends 'left-right-col.html' %}

{% block title %}Олимпиады{% endblock %}

{% block content_title %}Олимпиады{% endblock %}

{% block content  %}
    {% if modules %}
        {% include 'modules/list_modules.html' %}
    {% else %}
        <p>Олимпиад нет.</p>
    {% endif %}
{% endblock %}

{% block right-col %}
    <h1>Навигация</h1>
    <hr>
    <ul class="list-unstyled">
        <form action="{% url 'modules:modules' %}">
            <input type="text" id="search" name="search" placeholder="Введите название" autofocus
                   value="{% if request.GET.search %}{{ request.GET.search }}{% endif %}" />
            <input type="submit" class="btn btn-primary" value="Поиск" />
        </form>
        <hr>
        <li><a href="{% url 'modules:my_modules' %}">Мои олимпиады</a></li>
    </ul>
{% endblock %}
