{% extends 'left-right-col.html' %}

{% block title %}Мои олимпиады{% endblock %}

{% block content_title %}Мои олимпиады{% endblock %}

{% block content  %}
    {% if modules %}
        {% include 'modules/list_modules.html' %}
    {% else %}
        <p>Олимпиад нет.</p>
    {% endif %}
{% endblock %}

{% block right-col %}
<div class="right-col">
    <h1>Управление</h1>
    <hr>
    <ul class="list-unstyled">
        <form action="{% url 'modules:my_modules' %}">
            <input type="text" id="search" name="search" placeholder="Введите название" autofocus
                   value="{% if request.GET.search %}{{ request.GET.search }}{% endif %}" />
            <input type="submit" class="btn btn-primary" value="Поиск" />
        </form>
        <hr>
        <li><a href="{% url 'admin:modules_module_add' %}">Добавить олимпиаду</a></li>
        <li><a href="{% url 'admin:modules_module_changelist' %}">Редактировать олимпиаду</a></li>
    </ul>
<div class="right-col">
{% endblock %}
