{% load training_tags %}
{% for version in object.version_list reversed %}
    <div class="white fp-content solution__version">
        <div class="solution__version-header">
            <span class="text-small js__utc-time" data-utc-time="{{ version.datetime|date:'Y-m-d H:i:s.u' }}" title="Дата и время создания"></span>
            <span class="text-small">{{ forloop.counter }} / 10</span>
        </div>
        <div class="js__editor" data-lang="{{ object.taskitem.lang.provider_name }}">
            <div class="js__editor-ace">{{ version.content }}</div>
        </div>
    </div>
{% endfor %}