{% extends "base.html" %}
{% load static training_tags base_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    {% show_breadcrumbs object %}
{% endblock %}

{% block sidebar_title %}{{ course.title }}{% endblock %}

{% block sidebar_control %}
    <div class="sidebar__control-btn sidebar__control-btn-menu js__sidebar-btn"></div>
    {{ block.super }}
{% endblock %}

{% block sidebar_body %}
    {% if course %}
        {% show_sidebar course %}
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main22.js' %}"></script>
    <script src="{% static 'js/training/main21.js' %}"></script>
    <script>
        window.dispatchEvent(new Event('initSidebar'))
        window.dispatchEvent(new Event('toggleSidebar'))
        window.authToken = '{{ request.user.auth_token }}'
        window.courseStatisticsUrl = '/api/training/courses/{{ course.id }}/statistics/'
        window.dispatchEvent(new Event('getUserSolutions'))
    </script>
{% endblock %}