{% extends 'training/base.html' %}
{% load menu_tags %}

{% block content %}
    <div class="one-col">
        <h1 class="text-center">Курсы</h1>
        <div class="content courses__container">
        {% for course in objects %}
            <div class="course-item">
                <div class="course-item-content">
                    <a href="{{ course.get_absolute_url }}">
                    <div class="title h2">{{ course.title }}</div>
                    <div class="desc">{{ course.about|safe|truncatewords_html:20 }}</div>
                    </a>
                </div>
                <div class="course-item-content">
                    <div class="course-item-author">{{ course.author.get_full_name }}</div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block sidebar_control %}
    {% show_menu 'sidebar' %}
{% endblock %}
