{% extends 'training/base.html' %}
{% load menu_tags %}


{% block content %}
    <div class="one-col">
        <div class="white page-content ">
            <h1 class="text-center">{{ object.title }}</h1>
            {% if object.content %}
                <div class ="text">{{ object.content|safe }}</div>
            {% endif %}
            <div class="topic__list">
                {% for topic in object.get_cache_data.topics %}
                    <div class="topic__item">
                        <a class="topic__item-title h3" href="{{ topic.url }}">{{ topic.number }} {{ topic.title }}</a>
                        {% if topic.taskitems %}
                        <ul>
                            {% for taskitem in topic.taskitems %}
                                <li id="js__taskitem__{{ taskitem.id }}">
                                     <a href="{{ taskitem.url }}">{{ taskitem.number }} {{ taskitem.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if object.content_bottom %}
            <div class ="white page-content  text">{{ object.content_bottom|safe }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar_control %}
    {% show_menu 'sidebar' %}
{% endblock %}
