{% extends 'training/base.html' %}
{% load menu_tags %}


{% block content %}
    <div class="one-col">
        <div class="white fp-content">
            <h1 class="text-center">{{ object.title }}</h1>
            {% if object.content %}
                <div class ="text">{{ object.content|safe }}</div>
            {% endif %}
            <div class="topic__list">
                {% for topic in object.topics %}
                    <div class="topic__item">
                        <a class="topic__item-title h3" href="{{ topic.url }}"> {{ topic.title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if object.content_bottom %}
            <div class ="white fp-content text">{{ object.content_bottom|safe }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar_control %}
    {% show_menu 'sidebar' %}
{% endblock %}
