{% extends 'groups/base.html' %}

{% block content %}
    <div class="one-col group-course white">
        <h1>{{ object.group.title }}</h1>
        <h4>Результаты по курсу {{ object.course }}</h4>
        <form class="search__form" id="js__search-form" >
            <div class="input-group input-group-sm">
                <input type="text" name="search" class="form-control" id="js__search-input"
                       placeholder="Поиск участников, через запятую">
                <input type="submit" value="" title="поиск">
            </div>
        </form>
        <div class="course__fake-table-container js__course__fake-table-container">
            <div class="course__fake-table js__course__fake-table"></div>
        </div>
        <div class="course__table-container mb-4 js__course__table-container">
            <table class="course__table js__course__table js__tablesorter">
                <thead>
                    <tr>
                        <th class="wide">Участник</th>
                        <th class="wide">Решено</th>
                        <th class="wide">Баллы</th>
                        {% for topic in course_data.topics %}
                            {% for taskitem in topic.taskitems %}
                                <th data-sorter="false">
                                    {% if forloop.first %}
                                        <div class="caption"><span>{{ topic.number }} {{ topic.title }}</span></div>
                                    {% endif %}
                                    <a class="js__th-{{ topic.number }}-{{ forloop.counter }}" href="{{ taskitem.url }}"
                                       target="_blank" data-topic-title="{{ topic.number }} {{ topic.title }}" data-taskitem-title="{{ taskitem.number }} {{ taskitem.title }}">
                                        {{ taskitem.number }}
                                    </a>
                                </th>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for member in object.group.members %}
                        <tr id="js__member-{{ member.id }}">
                            <td title="{{ member }}" class="wide js__username">{{ member.get_full_name }}</td>
                            <td class="js__total_solved_tasks wide"></td>
                            <td class="js__total_score wide"></td>
                            {% for topic in course_data.topics %}
                                {% for taskitem in topic.taskitems %}
                                    <td class="js__{{ taskitem.id }}" data-th=".js__th-{{ topic.number }}-{{ forloop.counter }}"></td>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
       </div>

         <div class="loader js__loader">
             <div class="loader__bg"></div>
            <svg class="hourglass" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 206" preserveAspectRatio="none">
                <path class="middle" d="M120 0H0v206h120V0zM77.1 133.2C87.5 140.9 92 145 92 152.6V178H28v-25.4c0-7.6 4.5-11.7 14.9-19.4 6-4.5 13-9.6 17.1-17 4.1 7.4 11.1 12.6 17.1 17zM60 89.7c-4.1-7.3-11.1-12.5-17.1-17C32.5 65.1 28 61 28 53.4V28h64v25.4c0 7.6-4.5 11.7-14.9 19.4-6 4.4-13 9.6-17.1 16.9z"/>
                <path class="outer" d="M93.7 95.3c10.5-7.7 26.3-19.4 26.3-41.9V0H0v53.4c0 22.5 15.8 34.2 26.3 41.9 3 2.2 7.9 5.8 9 7.7-1.1 1.9-6 5.5-9 7.7C15.8 118.4 0 130.1 0 152.6V206h120v-53.4c0-22.5-15.8-34.2-26.3-41.9-3-2.2-7.9-5.8-9-7.7 1.1-2 6-5.5 9-7.7zM70.6 103c0 18 35.4 21.8 35.4 49.6V192H14v-39.4c0-27.9 35.4-31.6 35.4-49.6S14 81.2 14 53.4V14h92v39.4C106 81.2 70.6 85 70.6 103z"/>
            </svg>
        </div>

         <h4 class="mb-4">Обозначения:</h4>

         <table class="course__table-legend">
            <tr><td class="status__0"></td><td>Нет попыток</td></tr>
            <tr><td class="not-checked"></td><td>В процессе решения</td></tr>
            <tr><td class="status__1">-</td><td>Нет решения</td></tr>
            <tr><td class="status__2">4.5</td><td>Частично решено (c указанием кол-ва баллов)</td></tr>
            <tr><td class="status__3">+</td><td>Решено на максимальный балл</td></tr>
            <tr><td class="awaiting-check"></td><td>Отправлено на проверку (для режима ручной проверки)</td></tr>
            <tr><td class="not-count"></td><td>Решение вне зачета (баллы не засчитываются)</td></tr>
         </table>
    </div>
{% endblock %}


{% block js %}
    {{ block.super }}
    <script>
        window.groupCourseSolutionsUrl = "{% url 'groups:group-course-solutions' group_id=object.group.id group_course_id=object.id %}"
        window.dispatchEvent(new Event('groupCoursePageLoaded'))
    </script>
{% endblock js %}